
body
{
  	font-family: 'Muli', 'Corbel', 'Tahoma', 'Trebuchet MS', Verdana, arial, serif;
    background-color: #000000;
    color: #eeeeee;
}

#wrapper
{
    width: 960px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 0px;
}
.oldwrappershadow {
    -moz-box-shadow: 0px 15px 15px #444444; /* FF3.5+ */
    -webkit-box-shadow: 0px 15px 15px #444444; /* Saf3.0+, Chrome */
    box-shadow: 0px 15px 15px #444444; /* Opera 10.5, IE9, Chrome 10+ */
}

a {
  /* color: #d0d0d0; very light grey */
  color: #ff9000; /* orange */
  /** color: #3030ff; blue **/
  /* color: #4E55FF;  waveform blue */
  background-color: transparent;
  text-decoration: none; /*underline;*/
}

img
{
    border-style: none;
}

a:hover {
  /* text-decoration: underline; */
  /* color: #ffffff; */
  color: #ffB000; /* lighter orange */
}

p a
{
  color: #ff9000; /* orange */
}

h2 a {
  color: #ff9000; /* orange */
}

#navbar
{
    font-size: 1.4em;
}

#navbar a
{
  color: #d0d0d0;
}


#navbar_biglinks
{
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    height: 44px;
}

#navbar_biglinks a
{
    padding-right: 25px;
    padding-left: 25px;
}
#navbar_smalllinks
{
    float: right;
    vertical-align: text-bottom;
    font-size: 0.9em;
    text-align: right;
    height: 44px;
}
#navbar_smalllinks a
{
    padding-left: 12px;
}

#navbar_smalllinks p
{
    padding: 0px;
    padding-bottom: 5px;
    margin: 0px;
}

#splash
{
    padding-top: 5px;
    padding-bottom: 15px;
    background-color: #000000;
    text-align: center;
}

#splash img {
    width: 920px;
    height: 380px;
}

#splash_newversion_button
{
    position: absolute;
    left: 150px;
    top: 300px;
}

.download_button
{
    float: right;
    text-align: center;
    width: 246px;
    font-size: 0.7em;
    margin-right: -30px;
}

.gapfiller
{
    font-size: 1.2em;
    padding: 15px;
    margin-bottom: 60px;
    background-color: #111111;
    color: #eeeeee;
    border: 1px #222222 solid;
    border-radius: 5px;
}

.content
{
    padding-top: 30px;
}

#full_specs li
{
    font-size: 0.9em;
}

#achievements
{
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 15px;
    background-color: #111111;
    color: #cccccc;
    border: 1px #222222 solid;
    border-radius: 5px;
}

.achievement
{
    text-align: center;
    float: left;
    padding-right: 30px;
}

.feature_icon
{
    height: 40px;
    vertical-align: middle;
    padding: 5px;
    padding-right: 15px;
}
.feature_indent
{
    margin-left: 60px;
}

.halfbox_left
{
    padding: 20px;
    float: left;
    width: 430px;
}

.halfbox_right
{
    padding: 20px;
    margin-left: 10px;
    float: left;
    width: 430px;
}

.darkborder
{
    border: 1px solid black;
    /** Need the border there so the CSS transition works */
}
.slow_border
{
    border: 1px solid #cccccc;
    transition: border-color 0.5s linear; /*1px solid #aaaaaa;*/
    -webkit-transition: border-color 0.5s linear; /*1px solid #aaaaaa;*/
}

#driveby_social
{
    display: none;
    position: absolute;
    right: 10px;
    float: right;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
#driveby_social li
{
    display: inline;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

#footer_social
{
    vertical-align: top;
}

#footer_sitemap
{
	margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: #888888;
    font-size: 0.7em;
	background-color: #111111;
}

.footer_sitemap_column h2
{
    font-size: 1.0em;
    font-weight: bold;
}

.footer_sitemap_column
{
    vertical-align: top;
    display: inline-block;
	width: 150px;
	margin: 0 auto;
	border: 0px dashed;
    text-align: left;
}

#footer_legal
{
    font-size: 0.7em;
    text-align: center;
}
