blinker==1.7.0
colorama==0.4.6
commonmark==0.9.1
docutils==0.20.1
feedgenerator==2.1.0
Jinja2==3.1.3
Markdown==3.5.2
markdown-full-yaml-metadata @ git+https://github.com/Holzhaus/python-markdown-full-yaml-metadata@9af69835fa1ca154776a788666280a7019c6c636
Markdown-Video @ git+https://github.com/Holzhaus/Python-Markdown-Video@20b57db7398e02cebcaeb0c202bebc79fc8d692b
MarkupSafe==2.1.3
pelican==4.9.1
Pygments==2.17.2
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==5.4.1
rich==13.7.0
six==1.16.0
Unidecode==1.3.8
