<div id="footer" class="footer docs-section">
  <div class="box-center">
    <div class="grid-container thirds">
      <div>
        <h2 class="docs-header">Pages</h2>
        <ul>
          <li><a href="{{ SITEURL }}/index">Overview</a></li>
          <li><a href="{{ SITEURL }}/features">Features</a></li>
          <li><a href="{{ SITEURL }}/support">Support</a></li>
          <li><a href="{{ SITEURL }}/get-involved">Get Involved</a></li>
        </ul>
      </div>
      <div>
        <h2 class="docs-header">Community</h2>
        <ul>
          <li><a href="https://mixxx.discourse.group/">Forums</a></li>
          <li>
            <a class="mastodon social_icon" href="https://floss.social/@mixxx" target="_blank">
              <img src="{{ SITEURL }}/theme/images/social_icons/mastodon.svg" alt="Mastodon">
              <span>Mastodon</span>
            </a>
          </li>
          <li>
            <a class="facebook social_icon" href="https://www.facebook.com/mixxxdj/" target="_blank">
              <img src="{{ SITEURL }}/theme/images/social_icons/facebook.svg" alt="Facebook">
              <span>Facebook</span>
            </a>
          </li>
          <li>
            <a class="zulip social_icon" href="https://mixxx.zulipchat.com" target="_blank">
              <img src="{{ SITEURL }}/theme/images/social_icons/zulip.svg" alt="Zulip">
              <span>Zulip</span>
            </a>
          </li>
          <li>
            <a class="github social_icon" href="https://github.com/mixxxdj/mixxx" target="_blank">
              <img src="{{ SITEURL }}/theme/images/social_icons/github.svg" alt="GitHub">
              <span>GitHub</span>
            </a>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="docs-header">About</h2>
        <ul>
          <li><a href="{{ SITEURL }}/news">News</a> (<a href="{{ SITEURL }}/news/archives">Archives</a>, <a href="{{ SITEURL }}/{{ FEED_ATOM }}">Feed</a>)</li>
          <li><a href="{{ SITEURL }}/press">Press</a></li>
          <li><a href="{{ SITEURL }}/contact">Contact</a></li>
          <li><a href="{{ SITEURL }}/privacy-policy">Privacy Policy</a></li>
          <li><a href="https://github.com/mixxxdj/mixxx/wiki">Wiki</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="copyright">
    &copy; 2001-2024 Mixxx Development Team<br>
    Logo by Paul Bloch<br>
    <a href="https://www.netlify.com/" target="_blank">This site is powered by Netlify.</a>
  </div>
</div>
