<div id="footer" class="footer docs-section">
  <div class="box-center">
    <div class="grid-container thirds">
      <div>
        <h2 class="docs-header">{{gettext('Pages')}}</h2>
        <ul>
          <li><a href="{{ SITEURL }}/index">{{gettext('Overview')}}</a></li>
          <li><a href="{{ SITEURL }}/features">{{gettext('Features')}}</a></li>
          <li><a href="{{ SITEURL }}/support">{{gettext('Support')}}</a></li>
          <li><a href="{{ SITEURL }}/get-involved">{{gettext('Get Involved')}}</a></li>
        </ul>
      </div>
      <div>
        <h2 class="docs-header">{{gettext('Community')}}</h2>
        <ul>
          <li><a href="https://mixxx.discourse.group/">{{gettext('Forums')}}</a></li>
          <li>
            <a class="mastodon social_icon" href="https://floss.social/@mixxx" target="_blank">
              <img src="{{ main_siteurl }}/theme/images/social_icons/mastodon.svg" alt="Mastodon">
              <span>Mastodon</span>
            </a>
          </li>
          <li>
            <a class="facebook social_icon" href="https://www.facebook.com/mixxxdj/" target="_blank">
              <img src="{{ main_siteurl }}/theme/images/social_icons/facebook.svg" alt="Facebook">
              <span>Facebook</span>
            </a>
          </li>
          <li>
            <a class="zulip social_icon" href="https://mixxx.zulipchat.com" target="_blank">
              <img src="{{ main_siteurl }}/theme/images/social_icons/zulip.svg" alt="Zulip">
              <span>Zulip</span>
            </a>
          </li>
          <li>
            <a class="github social_icon" href="https://github.com/mixxxdj/mixxx" target="_blank">
              <img src="{{ main_siteurl }}/theme/images/social_icons/github.svg" alt="GitHub">
              <span>GitHub</span>
            </a>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="docs-header">{{gettext('About')}}</h2>
        <ul>
          <li><a href="{{ SITEURL }}/news">{{gettext('News')}}</a> (<a href="{{ SITEURL }}/news/archives">{{gettext('Archives')}}</a>, <a href="{{ SITEURL }}/{{ FEED_ATOM }}">{{gettext('Feed')}}</a>)</li>
          <li><a href="{{ SITEURL }}/press">{{gettext('Press')}}</a></li>
          <li><a href="{{ SITEURL }}/contact">{{gettext('Contact')}}</a></li>
          <li><a href="{{ SITEURL }}/privacy-policy">{{gettext('Privacy Policy')}}</a></li>
          <li><a href="https://github.com/mixxxdj/mixxx/wiki">{{gettext('Wiki')}}</a></li>
        </ul>
      </div>
    </div>
    {% if lang_siteurls %}
    <div class="grid-container full">
	  <div>
		  <h2 class="docs-header">{{ gettext('Site Language')}}</h2>
		  <ul style="display: flex; flex-flow: row wrap;">
			{% for lang, siteurl in lang_siteurls.items() %}
			<li style="flex-flow: row; justify-content: space-between; margin:0.5em">
			  <a {% if lang==DEFAULT_LANG %}style="color: var(--text-color);"{% endif %} href="{{ siteurl }}/">{{ lang | lookup_lang_name }}</a>
			</li>
			{% endfor %}
		   </ul>
	  </div>
    </div>
    {% endif %}
  </div>

  <div class="copyright">
    &copy; 2001-2025 {{gettext('Mixxx Development Team')}}<br>
    {{gettext('Logo by')}} Paul Bloch<br>
    <a href="https://www.netlify.com/" target="_blank">{{gettext('This site is powered by')}} Netlify.</a>
  </div>
</div>
