<div class="navbar-spacer"></div>
<nav id="navbar" class="navbar">
  <div class="container navbar-main">
    <span class="navbar-item navbar-logo">
      <a class="navbar-link" href="{{ SITEURL }}/">
        <img src="{{ main_siteurl }}/theme/images/mixxx-logo.svg" alt="Mixxx">
      </a>
    </span>
    <input class="navbar-hamburger-button" type="checkbox" id="navbar-hamburger-button" />
    <label class="navbar-hamburger-icon" for="navbar-hamburger-button"><span class="navicon"></span></label>
    <ul class="navbar-list navbar-hamburger-content">
		<li class="navbar-item">
		  <a class="navbar-link" href="{{ SITEURL }}/news">{{ gettext('News')|replace(" ", "&nbsp;") }}</a>
		</li>
		<li class="navbar-item has-dropdown">
		  <a class="navbar-link" href="{{ SITEURL }}/discover">{{ gettext("Discover")|replace(" ", "&nbsp;") }}</a>
		  <ul class="navbar-list navbar-dropdown">
			<li class="navbar-item">
			  <a class="navbar-link" href="{{ SITEURL }}/features">{{ gettext("Features")|replace(" ", "&nbsp;") }}</a>
			</li>
			<li class="navbar-item">
			  <a class="navbar-link" href="{{ SITEURL }}/screenshots">{{ gettext("Screenshots")|replace(" ", "&nbsp;") }}</a>
			</li>
			<li class="navbar-item">
			  <a class="navbar-link" href="{{ SITEURL }}/press">{{ gettext("Press")|replace(" ", "&nbsp;") }}</a>
			</li>
			<li class="navbar-item">
			  <a class="navbar-link" href="{{ SITEURL }}/contact">{{ gettext("Contact & Team")|replace(" ", "&nbsp;") }}</a>
			</li>
		  </ul>
		</li>
		<li class="navbar-item has-dropdown">
		  <a class="navbar-link" href="{{ SITEURL }}/support">{{ gettext("Support & Community")|replace(" ", "&nbsp;") }}</a>
		  <ul class="navbar-list navbar-dropdown">
			<li class="navbar-item">
			  <a class="navbar-link" href="{{ main_siteurl }}/manual/latest">{{ gettext("Manual")|replace(" ", "&nbsp;") }}</a>
			</li>
			<li class="navbar-item">
			  <a class="navbar-link" href="https://mixxx.discourse.group/">{{ gettext("Forums")|replace(" ", "&nbsp;") }}</a>
			</li>
			<li class="navbar-item">
			  <a class="navbar-link" href="https://github.com/mixxxdj/mixxx/issues/">{{ gettext("Bug Tracker")|replace(" ", "&nbsp;") }}</a>
			</li>
			<li class="navbar-item">
			  <a class="navbar-link" href="https://github.com/mixxxdj/mixxx/wiki">{{ gettext("Wiki")|replace(" ", "&nbsp;") }}</a>
			</li>
			<li class="navbar-item">
			  <a class="navbar-link" href="{{ SITEURL }}/get-involved">{{ gettext("Get Involved")|replace(" ", "&nbsp;") }}</a>
			</li>
		  </ul>
		</li>
      <li class="navbar-item navbar-download-button">
        <span class="navbar-link">
          <a class="button button-primary" href="{{ SITEURL }}/download">{% trans %}Download{% endtrans %}</a>
        </span>
      </li>
    </ul>
  </div>
</nav>
