<ul class="social_links">
  <li>
    <a class="mastodon social_icon" href="https://floss.social/@mixxx" target="_blank">
      <img src="{{ SITEURL }}/theme/images/social_icons/mastodon.svg">
      <span>Mastodon</span>
    </a>
  </li>
  <li>
    <a class="facebook social_icon" href="https://facebook.com/mixxxdj/" target="_blank">
      <img src="{{ SITEURL }}/theme/images/social_icons/facebook.svg">
      <span>Facebook</span>
    </a>
  </li>
  <li>
    <a class="zulip social_icon" href="https://mixxx.zulipchat.com" target="_blank">
      <img src="{{ SITEURL }}/theme/images/social_icons/zulip.svg">
      <span>Zulip</span>
    </a>
  </li>
</ul>
