{% macro author_box(author, more_button=True) %}
<div class="author-meta">
  <div>
    <img class="author-avatar" src="{{ SITEURL }}/{% if author.avatar_url %}{{ author.avatar_url }}{% else %}theme/images/default_avatar.png{% endif %}" />
    <div>
      <span class="author-name">{{ author }}</span>
      {% if author.github %}
      <a href="{{ author.github_url }}"><img src="{{ SITEURL}}/theme/images/social_icons/github.svg" alt="GitHub profile" title="GitHub profile" class="author-social-link" /></a>
      {% endif %}
      {% if author.discourse %}
      <a href="{{ author.discourse_url }}"><img src="{{ SITEURL}}/theme/images/social_icons/discourse.svg" alt="Discourse profile" title="Discourse profile" class="author-social-link" /></a>
      {% endif %}
      {% if author.facebook %}
      <a href="{{ author.facebook_url }}"><img src="{{ SITEURL}}/theme/images/social_icons/facebook.svg" alt="Facebook profile" title="Facebook profile" class="author-social-link" /></a>
      {% endif %}
      {% if author.tagline %}
      <div class="author-tagline">{{ author.tagline }}</div>
      {% endif %}
    </div>
  </div>
  <div>
    {% if more_button %}
    <a href="{{ SITEURL }}/{{ author.url }}" class="button button-secondary">More from this Author</a>
    {% endif %}
  </div>
</div>
{% endmacro %}
