/* ---- Themes ---- */
/* using data-theme attributes to allow switching via javascript */
html[data-theme="dark"] {
    /* dark theme: light background, dark text, blue accent */
    --theme-hue: 0; /* orange */
    --accent-hue: 20; /* orange */

    --text-color-richer: hsl(var(--theme-hue), 0%, 95%);
    --text-color-normal: hsl(var(--theme-hue), 0%, 80%); /* text color; button:hover:focus color */
    --text-color-softer: hsl(var(--theme-hue), 0%, 67%); /* button color; button:hover border */

    --accent-color: hsl(var(--accent-hue), 76%, 49%); /* link; button-primary bg+border; textarea,select:focus border */
    --accent-color-hover: hsl(var(--accent-hue), 86%, 57%); /* link hover; button-primary:hover:focus bg+border */

    --border-color: hsl(var(--theme-hue), 0%, 27%); /* button border */
    --border-color-softer: hsl(var(--theme-hue), 0%, 20%); /* textarea,select,code,td,hr border */

    --background-color: hsl(var(--theme-hue), 0%, 8%); /* body background; textarea,select background */
    --background-color-softer: hsl(var(--theme-hue), 0%, 14%);
    --code-background: hsl(var(--theme-hue), 0%, 5%); /* code background*/

    --button-primary-color: white;
}

/* when prefers-color-scheme supported, these can be in single media query with above */
html[data-theme="dark"] img.value-img {
    filter: invert(0.8);
}
html[data-theme="dark"] img {
    opacity: .90;
    transition: opacity .5s ease-in-out;
}

/* add a transition to ease into new themes */
/* looks best in Mozilla, text transitions late in Safari/Chrome */
html.transition-theme,
html.transition-theme *,
html.transition-theme *:before,
html.transition-theme *:after {
    transition: all 650ms !important;
    transition-delay: 0 !important;
}


/* ---- General ---- */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}
.docs-header {
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 600;
}
.docs-section {
    border-top: 1px solid var(--border-color-softer);
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-bottom: 0;
}
ul {
    margin-left: 2rem;
}
.docs-example .row, .docs-example.row, .docs-example form {
    margin-bottom: 0;
}
.docs-example h1, .docs-example h2, .docs-example h3,
.docs-example h4, .docs-example h5, .docs-example h6 {
    margin-bottom: 1rem;
}
.heading-font-size {
    font-size: 1.2rem;
    color: #999;
    letter-spacing: normal;
}
.example {
    position: relative;
    margin-top: 4rem;
}
.example-header {
    font-weight: 600;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}

@media (min-width: 600px) {
    .example-grid .column,
    .example-grid .columns {
        margin-bottom: 1.5rem;
    }
    .docs-section {
        padding: 6rem 0;
    }
    .example-send-yourself-copy {
        float: right;
        margin-top: 12px;
    }
}


/* ---- Header ---- */
.header {
    margin-top: 1rem;
    text-align: center;
}
.value-prop {
    margin-top: 1rem;
}
.value-props {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
i.fas, i.fab {
    font-size: 5rem;
    display: block;
    margin: 0 auto 2rem;
}
/* grids to 3 columns above mobile sizes */
@media (min-width: 600px) {
    .header {
    margin-top: 2rem;
    }
    .value-header {
        grid-column: 1 / span 3;
        margin-top: 2rem;
    }
    .value-props {
        margin-top: 9rem;
        margin-bottom: 7rem;
    }
    .value-img {
        margin-bottom: 1rem;
    }
}

/* ---- Grid ---- */
/* selects all grid-items (direct children of a grid container) */
.grid-container-example > * {
    background: var(--background-color-softer);
    border-radius: 0.4rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 2.4em;
    height: 2.4em;
}

/* ---- Nav ---- */
.navbar {
    position: sticky;
    top: 0;
}
.navbar + .docs-section {
    border-top-width: 0;
}
.navbar,
.navbar-spacer {
    display: block;
    width: 100%;
    height: 5rem;
    background: var(--background-color);
    z-index: 99;
    border-top: 1px solid var(--border-color-softer);
    border-bottom: 1px solid var(--border-color-softer);
}
.navbar-spacer {
    display: none;
}
/*.navbar > .container {
    width: 100%;
}*/
.navbar-list {
    list-style: none;
    margin-bottom: 0;
}
.navbar-item {
    position: relative;
    margin-bottom: 0;
}
.navbar-item img {
    height: 2rem;
    vertical-align: middle;
}
.navbar-link {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 5rem;
    color: var(--text-color-normal);
}
.navbar-link.active {
    color: var(--accent-color);
}


/* ---- Buttons ---- */
@media (min-width: 600px) {
    #buttons .grid-container.quarters {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 900px) {
    #buttons .grid-container.quarters {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Images */
img.feature_icon {
    height: 1em;
}

img.responsive {
    max-width: 100%;
}

/* Footer */
.footer {
    font-size: 1.5rem;
}
.footer ul {
    list-style: none;
    margin: 0;
}
.footer li a {
    text-decoration: none;
}
.footer li img {
    height: 1em;
}
.footer h2 {
    font-size: 1.8rem;
}

/* Menu */
@media only screen and (min-width: 600px) {
    .navbar-item {
        float: left;
        display: block;
        transition-duration: 0.5s;
    }
    .navbar-item:hover {
        cursor: pointer;
    }
    .navbar-dropdown {
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease;
        position: absolute;
        margin-top: 0;
        margin-left: -1em;
        padding-left: 1em;
        left: 0;
        display: none;
        background-color: var(--background-color);
        border: 1px solid var(--border-color-softer);
    }
    .navbar-dropdown .navbar-item {
        float: none;
    }
    .navbar-item:hover > .navbar-dropdown,
    .navbar-item .navbar-dropdown:hover {
        visibility: visible;
        opacity: 1;
        display: block;
    }
    .navbar-item .navbar-dropdown .navbar-item {
        clear: both;
        width: 100%;
    }
}

/* hamburger menu */

/* menu icon */

.navbar-hamburger-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 20px 0;
    position: relative;
    user-select: none;
}

.navbar-hamburger-icon .navicon {
    background: var(--text-color-normal);
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.navbar-hamburger-icon .navicon:before,
.navbar-hamburger-icon .navicon:after {
    background: var(--text-color-normal);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.navbar-hamburger-icon .navicon:before {
    top: 5px;
}

.navbar-hamburger-icon .navicon:after {
    top: -5px;
}

input.navbar-hamburger-button {
    display: none;
}

.navbar-hamburger-content {
    background-color: var(--background-color);
    max-height: 0;
    overflow: hidden;
    margin: 0;
}

/* Toggle Effect */
.navbar-hamburger-button:checked ~ .navbar-hamburger-icon .navicon {
  background: transparent;
}
.navbar-hamburger-button:checked ~ .navbar-hamburger-icon .navicon:before {
  transform: rotate(-45deg);
}
.navbar-hamburger-button:checked ~ .navbar-hamburger-icon .navicon:after {
  transform: rotate(45deg);
}

.navbar-hamburger-button:checked ~ .navbar-hamburger-icon:not(.steps) .navicon:before,
.navbar-hamburger-button:checked ~ .navbar-hamburger-icon:not(.steps) .navicon:after {
  top: 0;
}


input:checked ~ .navbar-hamburger-content {
    border: 1px solid var(--border-color-softer);
    max-height: 100%;
    padding-left: 2rem;
}

@media only screen and (min-width: 600px) {
    .navbar-hamburger-icon {
        display: none;
    }

    .navbar-hamburger-content {
        border: none;
        background-color: inherit;
        max-height: 100%;
        overflow: visible;
    }
}
