html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body
{
    font-family: 'Muli', 'Corbel', 'Tahoma', 'Trebuchet MS', Verdana, arial, serif;
    background-color: #000000;
    color: #eeeeee;
    margin: 0.5em;
}

#wrapper
{
    width: 960px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}

.oldwrappershadow {
    -moz-box-shadow: 0px 15px 15px #444444; /* FF3.5+ */
    -webkit-box-shadow: 0px 15px 15px #444444; /* Saf3.0+, Chrome */
    box-shadow: 0px 15px 15px #444444; /* Opera 10.5, IE9, Chrome 10+ */
}

a {
  /* color: #d0d0d0; very light grey */
  color: #ff9000; /* orange */
  /** color: #3030ff; blue **/
  /* color: #4E55FF;  waveform blue */
  background-color: transparent;
  text-decoration: none; /*underline;*/
}

img
{
    border: 0;
}

img.responsive
{
    max-width: 100%;
}

a:hover, #hamburger_menu a:hover {
  /* text-decoration: underline; */
  /* color: #ffffff; */
  color: #ffB000; /* lighter orange */
}

p a
{
  color: #ff9000; /* orange */
}

h2 a {
  color: #ff9000; /* orange */
}

.center {
    text-align: center;
}

img.center {
    display: block;
    margin: 0 auto;
}

#navbar
{
    font-size: 1.4em;
    height: 55px;
    text-align: center;
    overflow: hidden;
}

#navbar a
{
    color: #d0d0d0;
}

#nav_logo
{
    float: left;
}

#nav_logo img
{
    width: 190px;
}

#navbar_biglinks
{
    line-height: 55px;
    display: inline-block;
}

#navbar_biglinks a
{
    padding-right: 25px;
    padding-left: 25px;
}

#navbar_smalllinks
{
    float: right;
    vertical-align: text-bottom;
    font-size: 0.9em;
    text-align: right;
    height: 44px;
}

#navbar_smalllinks a
{
    padding-left: 12px;
}

#navbar_smalllinks p
{
    padding: 0px;
    padding-bottom: 5px;
    margin: 0px;
}

#splash
{
    position: relative;
    text-align: center;
    z-index: 0;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 15px;
    background-color: #000000;
    text-align: center;
}

#splash img {
    height: auto;
    width: 676px;
}

.gapfiller
{
    font-size: 1.2em;
    padding: 15px;
    margin-bottom: 60px;
    background-color: #111111;
    color: #eeeeee;
    border: 1px #222222 solid;
    border-radius: 5px;
    text-align:center;
}

.gapfiller p {
    display:inline-block;
}

.gapfiller .download_button
{
    float:right;
}

.download_button img
{
    width: 246px;
    height: 116px;
    cursor: pointer;
    border: 0;
    margin: -29px;
}

.content
{
    padding-top: 30px;
}

#full_specs li
{
    font-size: 0.9em;
}

#achievements
{
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 15px;
    background-color: #111111;
    color: #cccccc;
    border: 1px #222222 solid;
    border-radius: 5px;
    text-align:center;
}

.achievement
{
    text-align: center;
    display:inline-block;
    padding-right: 30px;
}

.feature_icon
{
    height: 40px;
    vertical-align: middle;
    padding: 5px;
    padding-right: 15px;
}
.feature_indent
{
    margin-left: 60px;
}

.halfbox_left, .halfbox_right
{
    padding: 20px;
    float: left;
    width: 430px;
}

.halfbox_right {
    margin-left: 10px;
}

.darkborder
{
    border: 1px solid black;
    /** Need the border there so the CSS transition works */
}
.slow_border
{
    border: 1px solid #cccccc;
    transition: border-color 0.5s linear; /*1px solid #aaaaaa;*/
    -webkit-transition: border-color 0.5s linear; /*1px solid #aaaaaa;*/
}

#driveby_social
{
    z-index: 5;
    position: absolute;
    right: 10px;
    top: 50px;
    text-align: right;
}
#driveby_social li
{
    list-style: none;
    margin-bottom: 10px;
}

#footer_social
{
    vertical-align: top;
}

#footer_sitemap
{
	margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: #888888;
    font-size: 0.7em;
	background-color: #111111;
}

.footer_sitemap_column h2
{
    font-size: 1.0em;
    font-weight: bold;
}

.footer_sitemap_column
{
    vertical-align: top;
    display: inline-block;
	width: 150px;
	margin: 0 auto;
	border: 0px dashed;
    text-align: left;
}

#footer_legal
{
    font-size: 0.7em;
    text-align: center;
}


/* squish menu items together for tablet style screens*/
@media only screen and (max-width: 1100px)
{
    #navbar_biglinks 
    {
        display: inline-block;
        line-height: inherit;
    }

    #navbar_biglinks a
    {
        padding-left: 0;
        padding-right: 25px;
    }

    #navbar_biglinks a:last-child
    {
        padding-right: 0;
    }

    #navbar_smalllinks {
        display: inline-block;
        float: none;
    }

    #navbar_smalllinks p
    {
        display: inline;
    }

    #navbar_smalllinks a
    {
        padding-left: 0;
        padding-right: 12px;
    }

    #navbar_smalllinks p > a:last-child
    {
        padding-right: 0;
    }
}

/* less than the full width of the page */
@media only screen and (max-width: 960px)
{
    #wrapper, .halfbox_left, .halfbox_right
    {
        width: auto;
    }

    .gapfiller p {
        margin-top:0;
    }
    
    .gapfiller .download_button {
        float:inherit;
    }
}

/* less than a standard tablet, we switch to hamburger menu */
@media only screen and (max-width: 768px)
{
    #navbar_biglinks, #navbar_smalllinks
    {
        display: none;
    }

    #hamburger_wrap {
        display: inherit!important;
    }
}


/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT license
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

#hamburger_wrap {
    display: none;
    text-align: left;
    z-index: 8;
    overflow-x:hidden;
}

#hamburger_wrap a
{
  text-decoration: none;
  transition: color 0.3s ease;
}

#hamburger_menu_toggle
{
  display: block;
  position: absolute;
  top: 17px;
  right: 17px;
  
  z-index: 9;
  -webkit-user-select: none;
  user-select: none;
}

#hamburger_menu_toggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 10; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#hamburger_menu_toggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 9;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#hamburger_menu_toggle span:first-child
{
  transform-origin: 0% 0%;
}

#hamburger_menu_toggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#hamburger_menu_toggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  /*background: #232323;*/
}

/*
 * But let's hide the middle one.
 */
#hamburger_menu_toggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#hamburger_menu_toggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#hamburger_menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 0;
  padding: 30px;
  padding-top: 100px;
  right: -100px;
  background: #111111;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#hamburger_menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's fade it in from the left
 */
#hamburger_menu_toggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}