title: Quick Vinyl Control Video, SSE optimizations
author: Albert
date: 2007-12-03 01:56:00

{% extends "post.html" %}

{% block post %}

A few nights ago I captured a video while doing a quick test mix using Mixxx's vinyl control.<br />
<br />
<center><object height="355" width="425"><param name="movie" value="http://www.youtube.com/v/9dRLNT2yspg&amp;rel=1"><param name="wmode" value="transparent"><embed src="https://www.youtube.com/v/9dRLNT2yspg&amp;rel=1" type="application/x-shockwave-flash" wmode="transparent" height="355" width="425"></embed>
</object>
</center>
<br />
<br />
Not my best transition ever, but it works. :)<br />
<br />
I've been trying to do some tweaking to get the latency down and one of the biggest improvements came from compiling Mixxx with SSE and MMX optimizations. The tricky part with turning on these optimizations is that they'll only work on post-Pentium III CPUs. That's fine for our Windows and OS X builds, but it's a problem for our Ubuntu package because we can't assume any specific CPU architecture. One possible solution for this is to disable SSE/MMX optimizations in the package that lives in the Ubuntu repositories and host a different (SSE/MMX optimized) Ubuntu package on our website.<br />
<br />
In the meantime, I still have lots of work to do on fixing up the library. Busy, busy!

{% endblock %}
