title: Scratching with Mixxx 1.6.0
author: Unknown
date: 2008-04-28 18:35:00

{% extends "post.html" %}

{% block post %}

<center><object width="425" height="355"><param name="movie" value="http://www.youtube.com/v/nAqI4HAcQi4&hl=en"></param>
<param name="wmode" value="transparent"></param>
<embed src="http://www.youtube.com/v/nAqI4HAcQi4&hl=en" type="application/x-shockwave-flash" wmode="transparent" width="425" height="355"></embed>
</object>
</center>
<br />
<br />
This latest video of <a href="http://www.mixxx.org">Mixxx</a>
 1.6.0 in action demonstrates what scratching sounds like with vinyl control. In the video, I'm scratching with a Serato record on my Stanton T.80 turntable, and using my M-Audio X-Session Pro MIDI controller as a virtual mixer. I changed Mixxx's crossfader curve setting in the preferences to "fast cut", which is what you'd set the curve control on a real mixer to when you're scratching.<br />
<br />
The turntable is plugged directly into my laptop using the turntable's line-out and my laptop's onboard soundcard.<br />
<br />
I recently did some work on our "vinyl emulation" code that mimics the way the pitch changes when you're using a turntable. I managed to improve the sound quality enough that scratching with Mixxx + vinyl control sounds convincingly similar to scratching with real vinyl. These improvements will be included with our next beta release.

{% endblock %}
