title: Mixxx 1.7.0 Beta1 for Windows x64 Now Available!
author: Albert
date: 2009-05-07 14:43:00

{% extends "post.html" %}

{% block post %}

<div style="text-align: center;"><span class="Apple-style-span"  style="color:#551A8B;"><span class="Apple-style-span" style="text-decoration: underline;"><br />
</span>
</span>
</div>
The Mixxx team is pleased to announce the availability of a 64-Bit version of Mixxx 1.7.0 Beta1 for Windows.<br />
<br />
In a dazzling display of masochism and borderline insanity, Sean Pappalardo has been working hard over the last month or so to get Mixxx to run <span style="font-weight: bold;">natively</span>
 on 64-bit Windows. When asked why, he just mumbled, "full power...full power" over and over again as he rocked in his chair. Sean comes from the Commodore 64 programming days of yore when 64 KB of RAM and a 1 MHz CPU was all you had to work with, so he enjoys taking maximum advantage of the available hardware.<br />
<br />
While 64-bit versions of Mixxx have been available on Linux for the past year, this is the first time it's been done on Windows.<br />
<br />
Why was there no 64-bit version of Mixxx for Windows? As Sean found out, this was not simply a matter of recompiling Mixxx - <span style="font-style: italic;">all</span>
 of Mixxx's dependencies had to be rebuilt as x64 binaries as well. This process brought numerous headaches and profanity-littered screams because Microsoft's Visual Studio is not always easy to deal with (especially when you're trying to force the free version to compile x64 binaries which involves a <a href="http://whitemarker.blogspot.com/2006/12/c-visual-c-2005-express-edition-x64.html">hack </a>
.) Fortunately a couple of the libraries that Mixxx depends on (libsndfile, FFTW) already had x64 binaries available for download, and for that we are very grateful. The good news is that, unless we decide they need upgrading, the dependencies don't have to be rebuilt in the future, so the hard part is done for now.<br />
<br />
Mixxx is now <span style="font-weight: bold;">the first and only</span>
 known DJ software package that runs <span style="font-weight: bold;">natively</span>
 on 64-bit Windows, and this gives 64-bit Mixxx fans improved performance for free. A native 64-bit build also improves compatibility with ASIO devices on 64-bit Windows.<br />
<br />
To take advantage of this, you need three things:<br />
<ol><li>a 64-bit AMD or Intel processor (eg. AMD Athlon 64, AMD Phenom, Intel Core 2)<br />
</li>
<li>a 64-bit version of Windows (XP Professional x64, Vista x64, Server 2003 x64, etc.)</li>
<li>A copy of <a href="http://downloads.mixxx.org/mixxx-1.7.0-beta1/mixxx-1.7.0~beta1-win64.exe">Mixxx x64 for Windows</a>
<br />
</li>
</ol>
Install and run as usual, and enjoy! Please let us know if you have any problems or questions.

{% endblock %}
