title: Build Server Fundraiser a Success - Thank You!
author: Unknown
date: 2010-12-24 20:37:00

{% extends "post.html" %}

{% block post %}

<div class="separator" style="clear: both; text-align: center;"><a href="http://pledgie.com/campaigns/13624" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" height="171" src="{% static '/static/images/news/pledgie.png' %}" width="320" />
</a>
</div>
<br />
<br />
<div style="text-align: center;">Wow.</div>
<br />
Over the past 3 months, we've been raising money to purchase a <b>build server</b>
 to help us speed up our development cycle, and the response has been overwhelming.<br />
<br />
We've raised more money in 3 months than we've received in donations since Mixxx was started in 2003, and for that, we'd like to thank the 43 Mixxx fans who generously donated to our cause, and our broader community for helping spread the message.<br />
<br />
Your gracious donations will help ensure Mixxx can continue to grow and provide the open source community with great DJ software. On behalf of all Mixxx contributors, <b>thank you!</b>
<br />
<br />
We'll post an update on the build server project as we get our hardware and software configurations together. We've got work to do!

{% endblock %}
