title: Mixxx 1.8.0 Beta 2 Released!
author: Unknown
date: 2010-07-01 05:40:00

{% extends "post.html" %}

{% block post %}

<div>The Mixxx team is pleased to announce the second beta of <b>Mixxx 1.8.0</b>
! This release brings a large number of bug fixes, performance improvements, and even some small new features.<br />
<br />
<div class="separator" style="clear: both; text-align: center;"><a href="{% static '/static/images/news/Screenshot-Mixxx+1.8.0~beta2.png' %}" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" src="{% static '/static/images/news/Screenshot-Mixxx+1.8.0~beta2.png' %}" height="190" width="320" />
</a>
</div>
</div>
<div><br />
</div>
<div style="text-align: center;"><b><a href="http://www.mixxx.org/download/#beta"><span class="Apple-style-span" style="font-size: x-large;">Download Now!</span>
</a>
</b>
</div>
<div><br />
</div>
Here's a summary of the changes in this release:<br />
<ul><li><b>Library:</b>
</li>
<ul><li>Massive optimization of the new SQLite database-powered library, including:</li>
<div style="margin-bottom: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px;"></div>
<ul><li>Faster searches</li>
<li>In-memory caching layer which minimizes hard disk access</li>
<li>Faster library scanning</li>
</ul>
</ul>
<ul><li>Fixed some Auto DJ bugs</li>
<li>Added tooltips to library table</li>
<li>Polished up song Properties dialog</li>
</ul>
<ul><li>Library search now looks at album names too</li>
<li>Fixed minor library rescanning bugs</li>
<li>Fixed <a href="file:///home/alb/Desktop/Screenshot-Mixxx%201.8.0~beta2.png"></a>
crate and playlist creation bugs</li>
<li>Fixed drag-and-drop from network shares on Windows</li>
<li>Show iTunes playlists as sorted</li>
</ul>
<li><b>Audio:</b>
</li>
<ul><li>Added plugin architecture for audio playback</li>
<li>Fixed some cueing bugs with pitch-independent time stretch</li>
<li>Improvements to vinyl emulation sound quality</li>
</ul>
<ul><li>Improved performance by optimizing hard disk access for audio decoding</li>
<li>Legacy 1.7 library importer now imports cue points</li>
<li>Faster MP3 loading</li>
<li>Improved reliability with certain MP3s and OGGs</li>
</ul>
<li><b>MIDI:</b>
</li>
<ul><li>Improved scratching with the SCS.3d</li>
<li>Timers now available in MIDI scripts</li>
</ul>
<li>Fullscreen key changed to F11 to conform to de-facto standard.</li>
<li>Tons of other bug fixes!</li>
</ul>
<div><br />
</div>
<div><b>Hotcues</b>
<br />
Since everyone's been waiting ever so patiently for this release, we decided to slip a bonus in for you. Mixxx 1.8.0 Beta 2 adds <b>hotcues</b>
, which are cue points that start playing when triggered. These are handy for impromptu drumming and remixing because you can trigger different parts of a song quickly. Although our default "Outline Netbook" skin doesn't yet show the hotcue positions on the main scrolling waveform display, the hotcues do show up in the smaller waveform summary.<br />
<br />
The keyboard shortcuts for hotcues are Z, X, C, and V on Player 1, and M, &lt;, &gt;, and ? on Player 2. Now go chop some beats!  (<b>Update:</b>
 Forgot to mention that using the Shift key in combination with the above keys clears the hot cues.)<br />
<br />
</div>
<div><b>Audio Playback Plugins</b>
<br />
The new audio playback plugin framework lets you to install third-party plugins that give Mixxx the ability to playback extra audio formats. Sometimes support for an obscure audio format is difficult to maintain or may be legally encumbered in certain jurisdictions, either of which would preventing us from supporting it. However, third-party developers can now add support for extra audio formats to Mixxx at their own discretion.<br />
<br />
The Mixxx Development Team will not distribute audio playback plugins that carry legal uncertainty for us. The responsibility is solely yours to ensure that you are legally entitled to obtain and use any playback plugins provided by a third-party.<br />
<br />
Although we don't have any official audio playback plugins available yet, we'd like to invite developers to post their plugins on the <a href="http://www.mixxx.org/wiki/doku.php/add-ons">Mixxx Add-ons wiki page</a>
.<br />
<br />
<b>The Road to 1.8.0</b>
<br />
Over the next month or so, we'll be wrapping up development of 1.8.0. We've still got many bugs to fix (and could use your help), but we think this latest beta release is a big improvement over the previous one. Give it a shot, and please <a href="https://bugs.launchpad.net/mixxx/+filebug">report any bugs you find</a>
! Enjoy, and stay tuned for more news as we finally approach Mixxx 1.8.0.</div>


{% endblock %}
