title: Mixxx 1.8.1 Released!
author: Albert
date: 2010-10-18 21:00:00

{% extends "post.html" %}

{% block post %}

<div style="text-align: center;">The Mixxx team is pleased announce the release of <a href="http://www.mixxx.org/"><b>Mixxx 1.8.1</b>
</a>
!<br />
<br />
</div>
<br />
<div class="separator" style="clear: both; text-align: center;"><a href="{% static '/images/press_art/mixxx_defaultskin.png' %}" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" src="{% static '/images/press_art/mixxx_defaultskin.png' %}" height="185" width="320" />
</a>
</div>
<br />
<br />
<b>Mixxx</b>
 is free, open source software for <b>performing live DJ mixe</b>
s. Developed by a diverse community of DJs, Mixxx is a complete replacement for a conventional "turntables and mixer" DJ setup, and is available for <b>Windows, Mac OS X, and Linux</b>
.<br />
<br />
<div style="text-align: center;">Mixxx 1.8.1 is now available on our <a href="http://www.mixxx.org/download/"><b>downloads page</b>
</a>
.</div>
<br />
This release is&nbsp;a recommended upgrade for all users of Mixxx 1.8.0, and&nbsp;addresses some important bugs:<br />
<br />
<ul><li>Reduce glitches on track load (<b>major improvement</b>
 for some users)&nbsp;</li>
<li>Waveform generation speed drastically improved on Windows</li>
<li>Stability fix when using vinyl emulation</li>
<li>Adjustable EQ shelves can no longer be equal</li>
<li>UTF-8 fixes for Rhythmbox track source</li>
<li>Fixed duplicate promotional tracks from appearing in library</li>
<li>Fixed MIDI learning wizard on OS X</li>
<li>Fixed minor delay in setting hot cues with MIDI controllers during playback</li>
<li>BPM tap activates on mouse-down instead of mouse-up.</li>
<li>Read ID3 tags in FLAC files on Windows</li>
<li>Reduce crackling during playback for some Windows users</li>
</ul>
<br />
<div>If you're upgrading from Mixxx 1.7.2, be sure the check out the <a href="{% url '/news/2010-10-05-mixxx-180-released.html' %}">large list of improvements made in Mixxx 1.8.0</a>
.<br />
<br />
We're happy to report that we've made great progress with our <b>build server fundraiser</b>
, but we still have a ways to go! We're looking to purchase a build server in order to help us speed up our development cycle. With a build server, we'll be able to improve the amount of testing that Mixxx receives by producing nightly builds of various branches.<br />
<br />
In other words, brave testers will be able to try&nbsp;<b>new features</b>
 like our vinyl control improvements sooner, and help give us important feedback while we're developing new features. We'll also be able to decrease the amount of time it takes for us to close bugs, since we'll be able to get confirmation from testers that our bug fixes work on Windows and Mac OS X faster.&nbsp;We're aiming to produce nightly builds of as many branches of Mixxx development as possible, so there should be lots to play with.<br />
<br />
But first, we need <a href="http://www.pledgie.com/campaigns/13624">your financial support</a>
 to purchase a <b>dedicated build server</b>
 to enable the production these nightly builds.<br />
<br />
Big thanks to everyone who's contributed so far! If you haven't yet had the opportunity, <a href="http://www.pledgie.com/campaigns/13624">a donation of any amount</a>
 will directly support Mixxx development and be greatly appreciated!<br />
<br />
<div style="text-align: center;"><a href="http://www.pledgie.com/campaigns/13624"><img alt="Click here to lend your support to: Mixxx 1.9 Build Server Fundraiser and make a donation at www.pledgie.com !" border="0" src="https://www.pledgie.com/campaigns/13624.png?skin_name=chrome" />
</a>
</div>
<div style="text-align: center;"><br />
</div>
<div style="text-align: left;">Stay tuned for more news about Mixxx 1.9.0!</div>
</div>
<a href="http://flattr.com/thing/71756/Mixxx-1-8-0" target="_blank"><br />
<img alt="Flattr this" border="0" src="https://api.flattr.com/button/button-compact-static-100x17.png" title="Flattr this" />
</a>


{% endblock %}
