title: Turning the Mixxx Blog into a Blog
author: Unknown
date: 2010-06-27 23:22:00

{% extends "post.html" %}

{% block post %}

Near the end of each release cycle, we try to round up as many developers as we can and have a giant meeting to figure out what we're doing for our next release cycle. And by giant, I mean usually four or five people tops.<br />
<div><br />
</div>
<div>This time, however, we managed to get <b>eight </b>
Mixxx developers spanning thee continents and five timezones together for a Skype meeting to discuss the future of the 1.8 series and beyond. </div>
<div><br />
</div>
<div><a href="{% static '/static/images/news/IMAG0035.jpg' %}" imageanchor="1" style="clear: right; float: right; margin-bottom: 1em; margin-left: 1em;"><img border="0" height="214" src="{% static '/static/images/news/IMAG0035.jpg' %}" width="320" />
</a>
If you want to check out the full details of our meeting, we've shared <a href="http://docs.google.com/a/mixxx.org/present/view?id=dd557nj5_58cxns8zd5">some slides</a>
 that directed the meeting along with our <a href="http://mixxx.org/wiki/doku.php/6_27_2010_developer_meeting_minutes">meeting minutes</a>
, but I'll try to briefly summarize what we discussed.</div>
<div><br />
</div>
<div>One of the big topics was our project management style. Instead of cramming several large new features into one release, we're going to try to focus on one or two features and try to do stable releases more frequently. </div>
<div><br />
</div>
<div>We also talked about our next few set of releases, but the only release we can talk about with <i>any</i>
 certainty is Mixxx 1.9, which will <i>probably</i>
 be the release that integrates streaming <b>Shoutcast broadcasting</b>
 via Icecast. We're also going to try to get this out <i>much faster</i>
 than our previous releases.</div>
<div><br />
</div>
<div>Lastly, we want to actively recruit more developers and artists. We need <b>way more</b>
 help with Mixxx, and we need to be more active at recruiting new contributors. As part of that effort, we'd like to be more open about how development is progressing, and so <b>we're encouraging our developers to blog more</b>
. Rather than posting formal-sounding news updates, we're going to start making the blog a bit more fun. We won't hesitate to ask people for help with projects we're working on, and we're going to try to write up some easy projects on the wiki for new contributors to work on.</div>
<div><br />
</div>
<div>And if you read this far, we're working on building Mixxx 1.8.0 Beta2. Hopefully we can get it out this week. We usually have to rebuild our releases a few times after we decide a release is finished (yeah, yeah), and I've already rebuilt the Ubuntu packages 3 times, so that's probably a good sign.  :)</div>
<div><br />
</div>
<div>What I'm listening to:</div>
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="400" height="100"><param name="movie" value="http://bandcamp.com/EmbeddedPlayer.swf/album=363614375/size=venti/bgcol=141414/linkcol=4285BB/"><param name="quality" value="high"><param name="allowScriptAccess" value="never"><param name="allowNetworking" value="always"><param name="wmode" value="transparent"><param name="bgcolor" value="#141414"><embed src="http://bandcamp.com/EmbeddedPlayer.swf/album=363614375/size=venti/bgcol=141414/linkcol=4285BB/" width="400" height="100" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" quality="high" allowscriptaccess="never" allownetworking="always" wmode="transparent" bgcolor="#141414"></embed>
<noembed></noembed>
</object>


{% endblock %}
