title: Boston Mixxx Meetup -- Tonight at 9pm!
author: RJ Ryan
date: 2011-05-04 18:40:00

{% extends "post.html" %}

{% block post %}

Calling all Boston-area Mixxxers -- tonight we're hosting an impromptu Mixxx user meetup care of the Redhat conference that's in town this week. <br />
<br />
Join us at the World Trade Center at 9pm tonight to hang out with other Mixxx users and developers. We'll have a bunch of gear to play with and we'll be showing off some of the latest features in the upcoming Mixxx 1.10 release. Come check it out!<br />
<br />
More info is on the <a href="http://www.mail-archive.com/mixxx-devel@lists.sourceforge.net/msg03561.html">mailing list</a>
.

{% endblock %}
