title: Mixxx 1.12 Beta Released!
author: RJ Ryan
date: 2015-04-29 03:12:00

{% extends "post.html" %}

{% block post %}

Hi Mixxxers -- did you miss us? The Mixxx team has been quietly toiling for <b>over 2 years</b>
&nbsp;to bring you Mixxx 1.12. This will be our <b>biggest release ever</b>
&nbsp;and we need your help to make sure that it's our <b>best ever</b>
 as well. We've been doing alpha testing with our dedicated <a href="http://mixxx.org/forums/viewtopic.php?f=1&amp;t=6617" target="_blank">forum users</a>
&nbsp;for a while now and are ready to release Mixxx 1.12 Beta!<br />
<div style="orphans: auto; text-align: start; text-indent: 0px; widows: auto;"><div style="-webkit-text-stroke-width: 0px; color: black; font-family: Times; font-size: medium; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: normal; margin: 0px; text-transform: none; white-space: normal; word-spacing: 0px;"><br />
</div>
<div style="-webkit-text-stroke-width: 0px; color: black; font-family: Times; font-size: medium; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: normal; margin: 0px; text-transform: none; white-space: normal; word-spacing: 0px;"><br />
</div>
<div style="text-align: center;"><div class="separator" style="clear: both; text-align: center;"><a href="{% static '/static/images/news/Mixxx-1.12-beta.png' %}" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img alt="Mixxx 1.12 Beta - LateNight Skin" border="0" src="{% static '/static/images/news/Mixxx-1.12-beta.png' %}" height="200" title="Mixxx 1.12 Beta - LateNight Skin" width="320" />
</a>
</div>
<div class="separator" style="clear: both; text-align: center;"></div>
<a href="http://www.mixxx.org/download/?utm_source=blog&amp;utm_medium=blog&amp;utm_campaign=112_beta" target="_blank">Download Mixxx 1.12 Beta Now</a>
</div>
<div style="text-align: center;">Available for Windows, Mac OS X, and Linux.</div>
<br />
There are too many new features and fixes to list all of them, but here's just some of the new things Mixxx can do: <br />
<ul><li><b>4 Decks with M</b>
<b>aster Sync</b>
</li>
<li><b>New Effects Framework with 4 Effect Units and 5 Built-in Effects:</b>
</li>
<ul><li><b>Flanger</b>
</li>
<li><b>Bit Crusher</b>
</li>
<li><b>Reverb</b>
</li>
<li><b>Echo</b>
</li>
<li><b>Filter</b>
</li>
<li><b>More to come! </b>
</li>
</ul>
<li><b>Configurable, Resizeable User Interface with 3 Brand New Skins</b>
</li>
<li><b>Cover Art Display</b>
</li>
<li><b>Music Key Detection and Shifting</b>
</li>
<li><b>Vinyl Audio Pass-Through</b>
</li>
<li><b>4 Microphone inputs and 4 Auxiliary inputs</b>
</li>
<li><b>MIDI Mapping GUI and Improved Learning Wizard</b>
</li>
<li><b>RGB Musical Waveforms</b>
</li>
<li><b>Hundreds of Bug Fixes and Improvements</b>
</li>
<li><b>New Pitch-Independent Algorithm for Better-Sounding Key-lock.</b>
</li>
</ul>
<div>If you tried the Alpha release, be sure to check out the Beta. &nbsp;There are a ton of new features and fixes even since then.&nbsp; And we'll be updating the Beta every week, so you can always have the latest updates.<br />
<br />
<b>Help Translate Mixxx</b>
<br />
In order to make this release rock in every language we need your help with translations! We are currently in dire need of translations for Chinese and Japanese (among many other languages).<br />
Check out our <a href="https://www.transifex.com/projects/p/mixxxdj/" target="_blank">Transifex page</a>
 and <a href="https://github.com/mixxxdj/mixxx/wiki/internationalization" target="_blank">internationalization wiki</a>
 for details on how to get started.</div>
<div><b><br />
</b>
</div>
<b>Bugs and Feedback</b>
<br />
<div><div><div style="margin: 0px;"><b><span class="Apple-style-span" style="font-weight: normal;"><b><span class="Apple-style-span" style="font-weight: normal;">You can help improve Mixxx by&nbsp;</span>
<span class="Apple-style-span" style="font-weight: normal;"><a href="https://bugs.launchpad.net/mixxx/+filebug" target="_blank">reporting any bugs you find</a>
</span>
<span class="Apple-style-span" style="font-weight: normal;">. Your&nbsp;<a href="https://docs.google.com/forms/d/1Zbx-VgdcSIuTTmy9UalNZhtDypSJdSLvRVZ0MKOuLu4/viewform" target="_blank">feedback</a>
&nbsp;plays a crucial role in Mixxx's development cycle, and even filing a quick bug report makes an important contribution to the project.&nbsp;</span>
</b>
</span>
</b>
We want to hear from you! Please&nbsp;<a href="https://docs.google.com/forms/d/1Zbx-VgdcSIuTTmy9UalNZhtDypSJdSLvRVZ0MKOuLu4/viewform" target="_blank">send us feedback</a>
,&nbsp;<a href="https://bugs.launchpad.net/mixxx/+filebug" target="_blank">file a bug</a>
,&nbsp;<a href="https://lists.sourceforge.net/lists/listinfo/mixxx-devel" target="_blank">write us an email</a>
,&nbsp;<a href="http://mixxx.org/forums/" target="_blank">post to the forums</a>
, or&nbsp;<a href="http://mixxx.org/irc/" target="_blank">chat with us</a>
.</div>
</div>
<div><div style="margin: 0px;"><b><span class="Apple-style-span" style="font-weight: normal;"><br />
</span>
</b>
</div>
</div>
<div style="margin: 0px;"><b>Join Mixxx</b>
</div>
<div><div style="margin: 0px;">We're always looking for new contributors who are interested in working on Mixxx. If you're a hacker, artist, or translator and want to work with a creative, enthusiastic team, hop on our IRC channel (#mixxx on <a href="https://webchat.freenode.net/">Freenode</a>
) or sign up for our&nbsp;<a href="https://lists.sourceforge.net/lists/listinfo/mixxx-devel" target="_blank">developer mailing list</a>
.</div>
</div>
</div>
</div>


{% endblock %}
