title: New in 2.3: Colorize your Tracks!
author: Holzhaus
date: 2020-09-09 14:00:00

{% extends "post.html" %}

{% block post %}

{% load markup %}
{% filter markdown %}

As a DJ your most important job is find and cue the track you're going to play next to make the crowd go wild.
In Mixx 2.2 you already had plenty of options to organize and add information to the tracks in your library to make this task easier.
You can add them to playlists, put them into crates and access them as files in different directories via the "Computer" sidebar entry.
It's also possible to order your tracks by key or BPM to find a match for the currently playing track.

For the next Mixxx version, we added another feature that helps you picking the next track to play at a glance:
It's now possible to assign an individual color to each track.
The track color is shown in a dedicated "Color" column in the library view. You can sort tracks by color by clicking on the respective header section like with any other column.
To make it easier quickly grasp a track's color Mixxx also uses it to paint the background of the whole table row when the column is hidden.

![Track colors in the Mixxx library]({% static "/images/news/track-colors.png" %})

How you use track colors is [up to you](https://djtechtools.com/2017/12/18/color-code-tracks-dj-collection/):
You could assign the similar colors to tracks with the same key, BPM or generally mix well together.
Another option is to colorize the tracks by energy or mood.

Are you doing live mashups and elaborate sampling?
You can also use color coding to group tracks with fitting acapellas and samples.

Or you use it for keeping your library clean:
Highlight tracks that you still need to prepare hotcues for or assign a color.
You can also mark tracks that have bad sound quality and you're planning to replace later.

Of course we also included controller support:
Like we did for [hotcue colors]({% url "/news/2020-08-25-new-in-2-3-hotcue-colors.html" %}), we added [controls](https://github.com/mixxxdj/mixxx/wiki/mixxxcontrols) to access and modify the track color in controller mappings.
This means that if you're a mapping creator, you can now add support for displaying and modifying track colors from the your controller!

Stay tuned for more cool features in Mixxx 2.3 that we'll publish prior to the final release!

{% endfilter %}
{% endblock %}
