title: Concluding GSoC 2020: Mixxx Macros
author: Xerus
date: 2020-08-29
comments: yes

{% extends "post.html" %}

{% block post %}

{% load markup %}
{% filter markdown %}

Throughout the last 3 months, as part of the [Google Summer of Code 2020](https://summerofcode.withgoogle.com/projects/#4641898733502464), I have worked steadily on a new feature called "Mixxx Macros", inspired by [Serato Flip](https://serato.com/dj/pro/expansions/flip).
It enables you to create edits of your tracks without having to dive into a DAW and modify the audio files!

For already mapped controllers (you are encouraged to add more :) ), you can either start recording via a dedicated button or by activating an empty macro slot.
Until you press that button again to stop recording, Mixxx will record all hotcue jumps that happen in the deck you are recording.

A newly recorded Macro will be running and looped by default, so you can immediately review your work. This also allows for looping live cue point drumming.
- enable
- common use-cases: edits

{% endfilter %}
{% endblock %}
