title: Mixxx accepted for GSoC 2020!
author: Holzhaus
date: 2020-02-20 20:00:00

{% extends "post.html" %}

{% block post %}

{% load markup %}
{% filter markdown %}

Mixxx has been [accepted as a mentoring organization](https://summerofcode.withgoogle.com/organizations/6577142898360320/) for [Google Summer of Code 2020](https://summerofcode.withgoogle.com/), a global program that aims to bring more student developers into the world of open source development.

This means that students have the opportunity to work on Mixxx full-time as a 3 month programming project and receive a stipend sponsored by Google. For more information, check out the [Google Summer of Code FAQ](https://developers.google.com/open-source/gsoc/faq#students).

We have prepared a list of [GSoC 2020 Project Ideas for Mixxx](https://mixxx.org/wiki/doku.php/gsoc2020ideas) and added it to our wiki, but we're always interested in new ideas. Taking a look at our [GSoC advice page](https://mixxx.org/wiki/doku.php/gsocadvice) is recommended if you're planning to apply. The best way to get started is to participate in the Mixxx community, so have a look at our [GitHub repository](https://github.com/mixxxdj/mixxx) and consider making a small code contribution to show that you're able to familiarize yourself with our codebase.
**The application period is March 16 - 31, 2020.**

Past GSoC projects include [Live metadata output](https://mixxx.org/wiki/doku.php/live_metadata_output) and [effects customization](https://mixxx.org/wiki/doku.php/effects_customization). A complete list can be [found at our wiki](https://mixxx.org/wiki/doku.php/gsoc).

If you're interested in hacking on Mixxx this summer, become a part of the Mixxx community and [apply starting March 16th](https://summerofcode.withgoogle.com/organizations/6577142898360320/)!

{% endfilter %}
{% endblock %}
