title: Concrete Action: Taking a Stand with Terminology and Recruitment
author: Mixxx, April
date: 2020-06-08 01:00:00

{% extends "post.html" %}

{% block post %}

{% load markup %}
{% filter markdown:"extra" %}

# &#35;BlackLivesMatter

Alongside the protesters in the US and around the world, the Mixxx team unequivocally condemns police brutality.
The systemic racism that burdens people of color every day is the responsibility of white people around the world to address.
Mixxx' core development team feels it necessary not to remain silent on this issue, for ["silence in the face of injustice is complicity with the oppressor."](https://www.theguardian.com/news/2000/sep/14/guardianobituaries)

Going beyond the hashtag, we have been discussing concrete actions we can take as a community and today we announce two efforts: first, to **eliminate "master" and "slave" terminology from our code base** and second, to **recruit paid interns from underrepresented communities** to join our contributor base.

## Terminology Changes

Major projects like [Python](https://www.vice.com/en_us/article/8x7akv/masterslave-terminology-was-removed-from-python-programming-language), [Go](https://www.reddit.com/r/golang/comments/gy9ylr/go_has_removed_all_uses_of_blacklistwhitelist_and/fte1zk0/), and now [Github](https://www.cnet.com/news/microsofts-github-is-removing-coding-terms-like-master-and-slave/) have all worked to eliminate the use of the problematic terms, "master" and "slave," and today Mixxx joins them.
The issue of nomenclature and terminology in software is one example of how deeply embedded white privilege is around the globe and we hope changing these terms is one small step towards a more inclusive and diverse coding community.

Although we eliminated the use of the word "slave" back in [2016](https://github.com/mixxxdj/mixxx/commit/e59916caf72a256bb28b1722759a629c5cc9cf81), "master" still appears in a number of places.
We have a "master" code branch, a "Master Sync" feature, an "EngineMaster" object, and more.
We are working to migrate our code away from these words, even in cases where the particular meaning of "master" was never explicitly associated with a problematic context.

It’s important to note that there will be some cases where the word will remain.
Many DJ controllers have buttons marked "master" on them, and we need to refer to those buttons by name.
There are also the audio engineering concepts of a "master tape" or "audio mastering", so there may be areas of our documentation or code that would be less understandable if we tried to use synonyms.
But in situations where "master" is used in code, we commit to changing the language we use by DATEDATEDATE **TKTKTKTK commit to a timeline to change the main branch?? TKTKTKTKTK**.

But changing language is not enough.

## Building A More Diverse Community

In our discussions, we quickly noted that the Mixxx contributor base is largely white, male, and either from the US or Western Europe.
For some of our coders, the experience of working on Mixxx has been a doorway to employment at some of the most prestigious software companies, and we want that door to be open to anyone.
It is our goal to make the Mixxx project as inclusive, accessible and welcoming as possible.
As such, it is our responsibility to actively seek out and promote the participation of groups who are underrepresented in our community.

As a small volunteer-led project with no regular income, budget, or employees, we don't yet know for sure what the demographic makeup of our contributors is -- but we are aware of the research that shows that blind admission and hiring tends to result in less diverse outcomes.
To that end, we plan to participate in the [Outreachy](https://www.outreachy.org/) program and have a paid internship position by December 2020, the next available cycle.
Outreachy’s stated goal is to provide "internships to work in open source and free software, for women (both cis and trans), trans men, and genderqueer people" and "residents and nationals of the United States of any gender who are Black/African American, Hispanic/Latin@, Native American/American Indian, Alaska Native, Native Hawaiian, or Pacific Islander."
They encourage "anyone who faces under-representation, systemic bias, or discrimination in the technology industry of their country" to apply.

Our goal is that this Outreachy intern will be one of an increasing number of valued contributors from more diverse backgrounds that will help us be a healthier, more sustainable open source project.
With your help, we intend to continue the internship process semiannually for at least 5 cycles and at that time assess if we should continue with the program or if our diversification efforts would be better served with a new approach.

An Outreachy intern will cost Mixxx $6,500 to sponsor.
As a project that is entirely community-driven, we are looking to you, our collaborators and users, to secure the funding for this effort. There is no company behind Mixxx.
All Mixxx developers are volunteers that work on Mixxx in their free time.
We [have never and will never charge for Mixxx](/news/2020-05-22-you-dont-need-to-pay-for-mixxx/), so this is a chance for you to contribute money that will go directly to a person working on the project.

`DETAILS ABOUT CAMPAIGN, LINK`

We're aware that replacing some terms and participating in Outreachy might seem insignificant in light of the discrimination and violence that people of color and Black people in particular face every day.
As a project that depends on donations and volunteer work, we invite all our collaborators and users to discuss further community action on [Zulip](https://mixxx.zulipchat.com) as we continue to stand against racism and discrimination.
Keep protesting!

{% endfilter %}
{% endblock %}
