title: New in 2.3: Colorize your Tracks!
author: Holzhaus
date: 2020-XX-XX 20:00:00

{% extends "post.html" %}

{% block post %}

{% load markup %}
{% filter markdown %}

As a DJ your most important job is find and cue the track you're going to play next to make the crowd go wild.
In Mixx 2.2 you already had plenty of options to organize and add information to the tracks in your library to make this task easier.
You can add them to playlists, put them into crates and access them as files in different directories via the "Computer" sidebar entry.
It's also possible to order your tracks by key or BPM to find a match for the currently playing track.

For the next Mixxx version, we added another feature that helps you pick to play the next track at a glace:
It's now possible to assign an individual color to each track.

{# TODO: Insert screenshot of track color picker once we have a mixxx color palette. #}

The track color is shown in a dedicated "Color" column in the library view.
To make it easier quickly grasp a track's color Mixxx also uses it to paint the background of the whole table row when the column is hidden.

{# TODO: Insert screenshot of library view with colored tracks once the skins are finalized. #}

How you use this color is [up to you](https://djtechtools.com/2017/12/18/color-code-tracks-dj-collection/):
You could assign the similar colors to tracks with the same key, BPM or generally mix well together.
Another option is to colorize the tracks by energy or mood.

Are you doing live mashups and elaborate sampling?
You can also use color coding to group tracks with fitting acapellas and samples.

Or you use it for keeping your library clean:
Highlight tracks that you still need to prepare hotcues for or assign a color.
You can also mark tracks that have bad sound quality and you're planning to replace later.

Of course we didn't forget about controller support:
Like we did for [hotcue colors]({# TODO: Add link to hotcue colors post #}), we added [controls](https://mixxx.org/wiki/doku.php/mixxxcontrols) to access and modify the track color in controller mappings.
If you're a mapping creator, you can add support for displaying and modifying track colors on your controller!

Stay tuned for more cool features in Mixxx 2.3 that we'll publish prior to the final release!

{% endfilter %}
{% endblock %}
