title: New in 2.3: Color your Hotcues
author: Holzhaus
date: 2020-XX-XX 20:00:00

{% extends "post.html" %}

{% block post %}

{% load markup %}
{% filter markdown %}

Hotcues are a neat thing and one of the major benefits of digital DJing.
On analogue vinyl decks, you had had to put stickers to mark the different sections of a song and physically pick up, move and drop the needle to move to it.
With the move to digital DJ setups, a new way to navigate tracks emerged: Hotcues now allow you to "bookmark" different spots in a track and quickly move to these positions in the blink of an eye, even while track is playing on the PA.

Mixxx has supported them for more than 10 years now:
Initial support for numbered hotcues has been added in 2009.

However, it can be challenging to remember the correct number in the heat of the moment.
Accidently pressing the wrong hotcue pad is not something you or your audience want to hear.

In 2015, support for hotcue labels was added to mitigate this problem.
These can be arbitrary text that is shown on the waveforms.

## Color your Hotcues

With Mixxx 2.3, the next major improvement is coming:
Hotcues can now have individual colors to make them visually distinguishable.

{# TODO: Add screenshot of hotcue buttons and color picker once the skins are finalized. #}

{# TODO: Mention some potential patterns for coloring hotcues #}

## Pick the colors YOU like

By default, you can pick a color from the Mixxx Hotcue Color palette.
That palette contains 9 distinct colors that are easy to distinguish.

Personal preferences differ though, and it's probably impossible to suit everyones taste.
This is why - unlike most other DJ software - you are not restricted to the single predefined color palette we picked.

If you previously used Serato DJ Pro, Rekordbox, Traktor or VirtualDJ and like their color palettes better ours, we've got you covered.
You can also use one of their palettes instead.

{# TODO: Add screenshot of hotcue color palette combobox. #}

But it doesn't stop there:
We also added a powerful color palette editor that can be used to rearrange and customize these palettes and even design *your own palette* using any RGB colors you like.

{# TODO: Add screenshot of palette editor. #}

## Automatic Coloring

When setting a hotcue, a single default color assigned that you can select in the preferences.
You can then go ahead and change the color to your liking.

While assigning a custom color to cue points after you set them is a nice feature, coloring all your cue points this way can be tedious and a lot of extra work.
If you want, Mixxx 2.3 can color new hotcues automatically for you - based on the hotcue number.

A small example:
Say you want to set a cue point before the main vocal part, and you want it colored "blue".
You can configure Mixxx to always assign "blue" to the hotcues number 5, and then just set hotcue number 5 at the desired position - done.

If you do this, that also means that a hotcue of the same type (e.g. "before main vocals") does not only have the same color but is also assigned to the same hotcue pad.
Hence, the possibility of getting confused during a gig is reduced even more than when just using colors.

{# TODO: Add GIF that shows color palette editor with indices and setting new hotcues with colors. #}

## Adding support for colored hotcues on controllers

You're a controller mapping creator and wondered how to make use of hotcue colors on your controller?
Then don't worry - we designed this feature with controller support in mind.

When it comes to hotcue buttons, there are 4 types of controllers:
1. Controllers without hotcue buttons
2. Controllers with uncolored buttons
3. Controllers with colored hotcue buttons that allow setting an arbitrary RGB color
4. Controllers with colored hotcue buttons that only allow setting certain, predefined colors

For controllers of types 1 and 2, nothing changes (obviously).

For type 3, we made the RGB color of a hotcue accessible in controller scripts, so you can go ahead and implement support for it.
If your controller mapping uses our JavaScript Components library, this is quite simple:
You only need to implement the `HotcueButton::sendRGB(color)` method, that sends the 3-byte RGB color value to the controller (e.g. via a MIDI-SysEx message, depending on your hardware).

What about type 4?
Controllers that only allow choosing from a predefined color set were probably designed that way because they were sold with a software that does not allow assigned arbitrary colors to hotcues.
You can think of these predefined colors as a list, and usually you can set the pad color of these controllers by sending the color's index in that list as MIDI value.
For example, red could be color 1, blue is color 2, yellow is color 3, green is color 4 and so on.

We added a `ColorMapper` class that you can use to establish a mapping between these IDs and and can be used to get the appropriate MIDI value for a given color.

For the more technically inclined, here's some source code example how to use it in a JavaScript controller mapping:

```javascript
var colors = new ColorMapper({
  0xFF0000: 1,  // Red
  0x0000FF: 2,  // Blue
  0xFFFF00: 3,  // Yellow
  0x00FF00: 4,  // Green
  // ...
});

// Get the MIDI value for the color "blue"
var value = colors.getNearestValue(0x0000FF)

// value now equals 2
```

You can send the resulting value to your controller to set the pad to the desired color.

But what happens if you set a hotcue to a color that isn't supported by the controller?
Obviously, it's not possible to show the exact same color on your controller if the hardware simply doesn't support it - but don't worry, we've got you covered.

In this case, `ColorMapper::getNearestValue()` returns the value of the color that is *most similar* to the color you put in.
As an example, the hotcue color in Mixxx could be a darker shade of blue - ColorMapper will simply return the color for the regular blue color in this case, because it's the best match.

```javascript
// Get the MIDI value for the color "dark blue"
var value = colors.getNearestValue(0x0000AA)

// value now equals 2 (the same value as for regular "blue")
```

Seems complicated?
It doesn't have to.
If your mapping already uses our JavaScript Components library, you don't actually need to call `ColorMapper::getNearestValue()` yourself though.
Just create a `ColorMapper` object and pass it to the `HotcueButton` and you're done.

{# TODO: Add example video/GIF of the ColorMapper in action. #}

{% endfilter %}
{% endblock %}
