title: Mixxx GSoc Coding Begins
author: Cristiano
date: 2020-06-08 01:00:00

{% extends "post.html" %}

{% block post %}

{% load markup %}
{% filter markdown:"extra" %}

This year Mixxx is again taking part on Google Summer of Code, and have 3 students working full-time during 3 months to make Mixxx even more awesome.

After one month of community bonding period, they started coding last week. Cristiano and Harshit, who are both working towards the same final feature—new beatgrid format capable of handling not only beats, but also downbeats, phrases and sections as well varying tempos and time signatures—have already sent some inital patches to Mixxx' Git repository ([#2844](https://github.com/mixxxdj/mixxx/pull/2844), [#2847](https://github.com/mixxxdj/mixxx/pull/2847)).

Cristiano which is focusing his work on the auto detection of such features is making weekly vlogs on YouTube to share his progress with the community. The first one is available here:

{% include "video.html" with video_id="rVJ7pBWHp8E" %}

Janek, who is working on a feature similar to serato flip, had the great idea and prepered a community call, where the new and old members alike had the opportunity to get to know each other better and put some faces to their usernames. 

We are looking forward to a new call in which we discuss our GSoC projects with our students, mentors and the rest of the community.
If you're interested, hit us up on [Zulip](https://mixxx.zulipchat.com/).


{% endfilter %}
{% endblock %}
