{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Contact" %}{% endblock %}

{% block body %}
<div class="content">
  <h1>{% trans "Get in Touch" %}</h1>

  <div style="clear: both;"></div>
  <div class="halfbox_left">
    <p>
      {% blocktrans with forums_link="/forums" support_page_link="/support" bug_tracker_link="https://bugs.launchpad.net/mixxx/" %}Support for users of Mixxx is available through our <a href="{{ forums_link }}">community forums</a> and our IRC channel as described on our <a href="{{ support_page_link }}">Support page</a>. If you think you've found a bug, please file a bug report in our <a href="{{ bug_tracker_link }}">bug tracker</a>.{% endblocktrans %}
    </p>

    <p>
      {% blocktrans with mailing_list_link="http://lists.sourceforge.net/lists/listinfo/mixxx-devel" %}Developers working on Mixxx collaborate with each other via the <a href="{{ mailing_list_link }}">mixxx-devel</a> mailing list and our IRC channel (#mixxx on Freenode). To send an email to the list, you must <a href="{{ mailing_list_link }}">subscribe first</a>. The list is low traffic.{% endblocktrans %}
    </p>
  </div>

  <div class="halfbox_right">
    <p>
      {% blocktrans with project_manager_link="hardware@mixxx.org" %}If you're a DJ hardware manufacturer and would like your product to work with Mixxx, please contact us at, <a href="{{ project_manager_link }}">hardware@mixxx.org</a>. We accept donations and loans of DJ equipment which we use to improve both specific and general hardware support in Mixxx.{% endblocktrans %}
    </p>

    <p>
      {% blocktrans with project_manager_link="press@mixxx.org" %}For other inquiries, please contact <a href="{{ project_manager_link }}">press@mixxx.org</a>.{% endblocktrans %}
    </p>
  </div>
  <div style="clear: both;"></div>

  <div style="text-align: center;">
    <h2>{% trans "Credits" %}</h2>
    <p>
      {% blocktrans with tue_anderson_link="http://haste.dk/tue/"%}In 2001, Mixxx was started by Ken and <a href="{{ tue_anderson_link }}">Tue</a> Haste Andersen. Today, development is done by an open source development team from around the world, led by RJ Ryan (Lead Developer), Owen Williams (User Experience Lead), Sean Pappalardo (Controller Manager), and S. Brandt (Lead Artist).{% endblocktrans %}
    </p>

    <p class="credits"><b>{% trans "Mixxx 2.0.0 Development Team" %}</b></p>

    <p class="credits">
      <a href="http://www.rustyryan.net">RJ Ryan</a><br/>
      <a href="http://ywwg.com">Owen Williams</a><br/>
      <a href="http://www.seanpappalardo.com">Sean Pappalardo</a><br/>
      S. Brandt<br/>
      Daniel Sch&uuml;rmann<br/>
      Ilkka Tuohela<br/>
      Max Linke<br/>
      Marcos Cardinot<br/>
      Nicu Badescu<br/>
    </p>

    <p class="credits"><b>{% trans "With contributions from:" %}</b></p>
    <p class="credits">
      Alex Barker<br/>
      Matthew Mikolay<br/>
      Thanasis Liappis<br/>
      Daniel Lindenfelser<br/>
      Andrey Smelov<br/>
      Alban Bedel<br/>
      Stefan N&uuml;rnberger<br/>
      Steven Boswell<br/>
      Jo&atilde;o Reys Santos<br/>
      Carl Pillot<br/>
      Vedant Agarwala<br/>
      Nazar Gerasymchuk<br/>
      Federico Briata<br/>
      Leo Combes<br/>
      Florian Kiekh&auml;fer<br/>
      Michael Sawyer<br/>
      Tuukka Pasanen<br/>
      Uwe Klotz<br/>
      Quentin Faidide<br/>
      Peter G. Marczis<br/>
      Khyrul Bashar<br/>
      Johannes Obermayr<br/>
      Kevin Lee<br/>
      Evan Radkoff<br/>
      Lee Matos<br/>
      Jean Claveau<br/>
      Nino MP<br/>
      Ryan Kramer<br/>
      Zak Reynolds<br/>
      Dennis Rohner<br/>
      Juha Pitk&auml;nen<br/>
      Kevin Wern<br/>
      Varun Jewalikar<br/>
      Dennis Wallace<br/>
      Keith Salisbury<br/>
      Irina Grosu<br/>
      Callum Styan<br/>
      Rahul Behl<br/>
      Markus Baertschi<br/>
      Nico Schl&ouml;mer<br/>
      Don Dennis<br/>
      Alexandru Jercaianu<br/>
      Nils Goroll<br/>
      Marco Angerer<br/>
      Ferran Pujol Camins<br/>
      Markus Kl&ouml;sges<br/>
      S&eacute;bastien Blaisot<br/>
      Vladim&iacute;r Dudr<br/>
      Thorsten Munsch<br/>
      Emile Vrijdags<br/>
      Be<br/>
      St&eacute;phane Guillou<br/>
      Russ Mannex<br/>
      Lorenz Drescher<br/>
      David Guglielmi<br/>
      Chlo&eacute; Avrillon<br/>
    </p>

    <p class="credits"><b>{% trans "And special thanks to:" %}</b></p>
    <p class="credits">
      Mark Hills<br/>
      <a href="http://www.vestax.com">Vestax</a><br/>
      <a href="http://www.stantondj.com">Stanton</a><br/>
      <a href="http://www.hercules.com">Hercules</a><br/>
      <a href="http://www.eks.fi">EKS</a><br/>
      <a href="http://www.echoaudio.com">Echo Digital Audio</a><br/>
      JP Disco<br/>
      <a href="http://code.google.com/soc">Google Summer of Code</a><br/>
      Adam Bellinson<br/>
      Alexandre Bancel<br/>
      Melanie Thielker<br/>
      Julien Rosener<br/>
      Pau Arum&iacute;<br/>
      David Garcia<br/>
      Seb Ruiz<br/>
      Joseph Mattiello<br/>
    </p>

    <p class="credits"><b>{% trans "Past Developers" %}</b></p>
    <p class="credits">
      <a href="http://haste.dk/tue/">Tue Haste Andersen</a><br/>
      Ken Haste Andersen<br/>
      Cedric Gestes<br/>
      John Sully<br/>
      Torben Hohn<br/>
      Peter Chang<br/>
      Micah Lee<br/>
      Ben Wheeler<br/>
      Wesley Stessens<br/>
      Nathan Prado<br/>
      Zach Elko<br/>
      Tom Care<br/>
      Pawel Bartkiewicz<br/>
      <a href="http://kousu.ca/">Nick Guenther</a><br/>
      <a href="http://www.hep.ucl.ac.uk/~adamd">Adam Davison</a><br/>
      <a href="http://stacktrace.org/">Garth Dahlstrom</a><br/>
      <a href="http://www.santoni.ca/albert">Albert Santoni</a><br/>
      Phillip Whelan<br/>
      Tobias Rafreider<br/>
      Bill Good<br/>
      Vittorio Colao<br/>
      Thomas Vincent<br/>
    </p>

    <p class="credits"><b>{% trans "Past Contributors" %}</b></p>
    <p class="credits">
      Ludek Hor&#225;cek<br/>
      Svein Magne Bang<br/>
      Kristoffer Jensen<br/>
      Ingo Kossyk<br/>
      Mads Holm<br/>
      Lukas Zapletal<br/>
      Jeremie Zimmermann<br/>
      Gianluca Romanin<br/>
      Tim Jackson<br/>
      Stefan Langhammer<br/>
      Frank Willascheck<br/>
      Jeff Nelson<br/>
      Kevin Schaper<br/>
      Alex Markley<br/>
      Oriol Puigb&oacute;<br/>
      Ulrich Heske<br/>
      James Hagerman<br/>
      quil0m80<br/>
      Martin Sakm&#225;r<br/>
      Ilian Persson<br/>
      Dave Jarvis<br/>
      Thomas Baag<br/>
      Karlis Kalnins<br/>
      Amias Channer<br/>
      Sacha Berger<br/>
      James Evans<br/>
      Martin Sakmar<br/>
      Navaho Gunleg<br/>
      Gavin Pryke<br/>
      Michael Pujos<br/>
      Claudio Bantaloukas<br/>
      Pavol Rusnak<br/>
      Bruno Buccolo<br/>
      Ryan Baker<br/>
      Andre Roth<br/>
      Robin Sheat<br/>
      Mark Glines<br/>
      Mathieu Rene<br/>
      Miko Kiiski<br/>
      Brian Jackson<br/>
      Andreas Pflug<br/>
      Bas van Schaik<br/>
      J&aacute;n Jockusch<br/>
      Oliver St&ouml;neberg<br/>
      Jan Jockusch<br/>
      C. Stewart<br/>
      Bill Egert<br/>
      Zach Shutters<br/>
      Owen Bullock<br/>
      Graeme Mathieson<br/>
      Sebastian Actist<br/>
      Jussi Sainio<br/>
      David Gnedt<br/>
      Antonio Passamani<br/>
      Guy Martin<br/>
      Anders Gunnarsson<br/>
      Mikko Jania<br/>
      Juan Pedro Bol&iacute;var Puente<br/>
      Linus Amvall<br/>
      Irwin C&eacute;spedes B<br/>
      Micz Flor<br/>
      Daniel James<br/>
      Mika Haulo<br/>
      Tom Mast<br/>
      Miko Kiiski<br/>
      Vin&iacute;cius Dias dos Santos<br/>
      Joe Colosimo<br/>
      Shashank Kumar<br/>
      Till Hofmann<br/>
      Peter V&aacute;gner<br/>
      Jens Nachtigall<br/>
      Scott Ullrich<br/>
      Jonas &Aring;dahl<br/>
      Jonathan Costers<br/>
      Maxime Bochon<br/>
      Akash Shetye<br/>
      Pascal Bleser<br/>
      Florian Mahlknecht<br/>
      Ben Clark<br/>
      Tom Gascoigne<br/>
      Neale Pickett<br/>
      Aaron Mavrinac<br/>
      Markus H&auml;rer<br/>
      Scott Stewart<br/>
      Nimatek<br/>
    </p>
  </div>

  <p align="center">
    {% blocktrans with qt_link="http://qt.io" portaudio_link="http://www.portaudio.com" portmidi_link="http://portmedia.sourceforge.net/portmidi/" %}Mixxx also depends on a number of software libraries. Without these, Mixxx would not be possible, especially as a cross-platform application. Big thanks to <a href="{{ qt_link }}">Qt</a>, <a href="{{portaudio_link }}">PortAudio</a>, and <a href="{{ portmidi_link }}">PortMidi</a> for being fantastic.<br/><br/>Lastly, we'd like to thank the many musicians and DJs that have helped in designing Mixxx.{% endblocktrans %}
  </p>

</div>
{% endblock %}
