show_unstable: no
show_previous: yes
unstable_short_version: Mixxx 2.1
unstable_long_version: Mixxx 2.1 RC1
unstable_win32: http://downloads.mixxx.org/builds/2.1/release/mixxx-2.1.0-rc1-2.1-release-x86-latest.exe
unstable_win64: http://downloads.mixxx.org/builds/2.1/release/mixxx-2.1.0-rc1-2.1-release-x64-latest.exe
unstable_osxintel: http://downloads.mixxx.org/builds/2.1/release/mixxx-2.1.0-rc1-2.1-release-macintel64-latest.dmg
unstable_ubuntu32: http://downloads.mixxx.org/builds/2.1/release/mixxx-2.1.0-rc1-2.1-release-artful-i386-latest.deb
unstable_ubuntu64: http://downloads.mixxx.org/builds/2.1/release/mixxx-2.1.0-rc1-2.1-release-artful-amd64-latest.deb
unstable_linuxsrc: FIXME
unstable_linuxsrc_analytics_conversion: /downloads/2.1.0-rc1-linuxsrc
unstable_win32_analytics_conversion: /downloads/2.1.0-rc1-win32
unstable_win64_analytics_conversion: /downloads/2.1.0-rc1-win64
unstable_osxintel_analytics_conversion: /downloads/2.1.0-rc1-osxintel
unstable_ubuntu32_analytics_conversion: /downloads/2.1.0-rc1-ubuntu32
unstable_ubuntu64_analytics_conversion: /downloads/2.1.0-rc1-ubuntu64
unstable_ubuntu_ppa_analytics_conversion: /downloads/2.1.0-rc1-ubuntu-ppa
stable_short_version: Mixxx 2.1
stable_long_version: Mixxx 2.1.0
stable_win32: https://downloads.mixxx.org/mixxx-2.1.0/mixxx-2.1.0-win32.exe
stable_win64: https://downloads.mixxx.org/mixxx-2.1.0/mixxx-2.1.0-win64.exe
stable_osxintel: https://downloads.mixxx.org/mixxx-2.1.0/mixxx-2.1.0-osxintel.dmg
stable_ubuntu32: https://downloads.mixxx.org/mixxx-2.1.0/mixxx-2.1.0-trusty-i386.deb
stable_ubuntu64: https://downloads.mixxx.org/mixxx-2.1.0/mixxx-2.1.0-trusty-amd64.deb
stable_linuxsrc: https://downloads.mixxx.org/mixxx-2.1.0/mixxx-2.1.0-src.tar.gz
stable_win32_analytics_conversion: /downloads/2.1.0-win32
stable_win64_analytics_conversion: /downloads/2.1.0-win64
stable_osxintel_analytics_conversion: /downloads/2.1.0-osxintel
stable_ubuntu32_analytics_conversion: /downloads/2.1.0-ubuntu-trusty32
stable_ubuntu64_analytics_conversion: /downloads/2.1.0-ubuntu-trusty64
stable_ubuntu_ppa_analytics_conversion: NOT YET EXTRACTED, FIX ME BELOW
stable_linuxsrc_analytics_conversion: /downloads/2.1.0-linuxsrc
previous_short_version: Mixxx 2.0
previous_long_version: Mixxx 2.0.0
previous_win32: https://downloads.mixxx.org/mixxx-2.0.0/mixxx-2.0.0-win32.exe
previous_win64: https://downloads.mixxx.org/mixxx-2.0.0/mixxx-2.0.0-win64.exe
previous_osxintel: https://downloads.mixxx.org/mixxx-2.0.0/mixxx-2.0.0-osxintel.dmg
previous_ubuntu32: https://downloads.mixxx.org/mixxx-2.0.0/mixxx-2.0.0-trusty-i386.deb
previous_ubuntu64: https://downloads.mixxx.org/mixxx-2.0.0/mixxx-2.0.0-trusty-amd64.deb
previous_linuxsrc: https://downloads.mixxx.org/mixxx-2.0.0/mixxx-2.0.0-src.tar.gz
previous_win32_analytics_conversion: /downloads/2.0win32
previous_win64_analytics_conversion: /downloads/2.0win64
previous_osxintel_analytics_conversion: /downloads/2.0osxintel
previous_osxppc_analytics_conversion: /downloads/2.0osxppc
previous_linuxsrc_analytics_conversion: /downloads/2.0linuxsrc
previous_ubuntu_ppa_analytics_conversion: NOT YET EXTRACTED, FIX ME BELOW
{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Download the Best Free MP3 DJ Mixing Software" %}{% endblock %}

{% block extra_script %}
<script type="text/javascript">
  (function() {
    var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
    s.type = 'text/javascript';
    s.async = true;
    s.src = '//api.flattr.com/js/0.6/load.js?mode=auto';
    t.parentNode.insertBefore(s, t);
  })();
</script>

<script type="text/javascript">
$(document).ready(function() {
    if (OSName.search("OS X") >= 0) {
        var highlightTimerId = window.setTimeout(function() { $('.macbox').addClass('slow_border');}, 1000);
    }
    else if (OSName.search("Windows") >= 0) {
        var highlightTimerId = window.setTimeout(function() { $('.winbox').addClass('slow_border');}, 1000);
    }
});
</script>
{% endblock %}

{% block body %}
{% trans "Windows" as windows %}
{% trans "macOS" as mac_osx %}
{% trans "Linux" as linux %}
{% trans "Ubuntu" as ubuntu %}
{% trans "Mixxx PPA" as mixxx_ppa %}

<div class="content">
  {% ifequal show_unstable "yes" %}
  <a name="beta"></a>
  <h1>{% blocktrans %}Download Now ({{ unstable_long_version }}){% endblocktrans %}</h1>
  <div style="padding: 20px;">
    <p><h2>For live use, we recommend <a href="#stable">{{ stable_short_version }} Stable</a> below.</h2></p>
    <p>
      {% blocktrans with mixxx_21_rc_forum_link="https://mixxx.org/forums/viewtopic.php?f=1&amp;t=11742" %}The Mixxx team has been working hard for 2 years on Mixxx 2.1. Check out the <a href="{{ mixxx_21_rc_forum_link }}">release announcement</a> for a list of the new features.{% endblocktrans %}
    </p>

    <p>
      <b>{% trans "Important:" %}</b> {% blocktrans with stable_link="#stable" %}While Mixxx 2.1 has been stable in testing it is not yet recommended for live use unless you are willing to risk a crash. Looking for the stable release? <a href="{{ stable_link }}">Scroll on down.{% endblocktrans %}</a>
    </p>
  </div>

  <div style="clear: both;"></div>
  <div class="halfbox_left darkborder winbox">
    <h2><img src="{% static '/static/images/download_windows.png' %}" class="feature_icon">{{ windows }}</h2>

    <p>
      <a href="{{ unstable_win32 }}"
         onClick="javascript:trackDownload('{{ unstable_win32_analytics_conversion }}');">
        {% blocktrans %}Download {{ unstable_long_version }} for 32-bit Windows{% endblocktrans %}</a>
    </p>

    <p>
      <a href="{{ unstable_win64 }}"
         onClick="javascript:trackDownload('{{ unstable_win64_analytics_conversion }}');">
        {% blocktrans %}Download {{ unstable_long_version }} for 64-bit Windows{% endblocktrans %}</a>
    </p>

    <p>New versions will be made available every time the code is changed, so check back periodically for updates until Mixxx 2.1 is released.</p>

    <p><small>{% blocktrans with platform_update_link="https://support.microsoft.com/en-us/kb/2117917" %}Supported on Windows XP and newer. AAC playback requires at least Windows 7 or Windows Vista with a <a href="{{ platform_update_link }}">platform update</a>.{% endblocktrans %}</small></p>
  </div>

  <div class="halfbox_right darkborder macbox">
    <h2><img src="{% static '/static/images/download_mac.png' %}" class="feature_icon" style="margin-top: -7px;">{{ mac_osx }}</h2>

    <p>
      <a href="{{ unstable_osxintel }}"
         onClick="javascript:trackDownload('{{ unstable_osxintel_analytics_conversion }}');">
        {% blocktrans %}Download {{ unstable_long_version }} for macOS 10.8+ (Intel){% endblocktrans %}</a>
    </p>

    <p>{% blocktrans %}New versions will be made available every time the code is changed, so check back periodically for updates until Mixxx 2.1 is released.{% endblocktrans %}</p>

  </div>
  <div style="clear: both;"></div>

  <div style="padding: 20px;">
    <h2><img src="{% static '/static/images/download_ubuntu.png' %}" class="feature_icon">{{ ubuntu }}</h2>

    <p>{% trans "Open a terminal, and enter:" %}</p>
    <pre>
      sudo add-apt-repository ppa:mixxx/mixxxbetas
      sudo apt-get update
      sudo apt-get install mixxx
    </pre>

    <p>
      {% with "<a href='https://launchpad.net/~mixxx/+archive/mixxxbetas' onclick=\"javascript:trackDownload('/downloads/2.1.0-ubuntu-ppa');\">"|add:mixxx_ppa|add:"</a>" as ppa_link %}
      {% blocktrans %}This will install the latest version of Mixxx from the {{ ppa_link }} on Launchpad.{% endblocktrans %}
      {% endwith %}
    </p>

    <p>{% blocktrans %}New installers will be made available every time the code is changed. If you are using the PPA, these will be installed automatically with apt-get. Otherwise, you can download individual packages to install and check back periodically for updates until Mixxx 2.1 is released:{% endblocktrans %}</p>

    <p><a href="{{ unstable_ubuntu32 }}"
          onclick="javascript:trackDownload('{{ unstable_ubuntu32_analytics_conversion }}');">
        {% blocktrans %}{{ unstable_long_version }} for 32-bit Ubuntu Artful (and newer){% endblocktrans %}</a></p>

    <p><a href="{{ unstable_ubuntu64 }}"
          onclick="javascript:trackDownload('{{ unstable_ubuntu64_analytics_conversion }}');">
        {% blocktrans %}{{ unstable_long_version }} for 64-bit Ubuntu Artful (and newer){% endblocktrans %}</a></p>

    <h2>{% trans "Source Code" %}</h2>

    <p>
      {% blocktrans with mixxx_license_file="https://github.com/mixxxdj/mixxx/blob/2.1/LICENSE" %}The Mixxx source code is published under the GNU General Public License (GPL) v2 or later. Please check the <a href="{{ mixxx_license_file }}">LICENSE file</a> in our source tree for complete licensing information. {% endblocktrans %}
      {% blocktrans with mixxx_github_link="https://github.com/mixxxdj/mixxx" %}Download the latest code from Mixxx's 2.1 branch on <a href="{{ mixxx_github_link }}">GitHub</a> by opening a terminal and running:{% endblocktrans %}
      <pre>        git clone -b 2.1 https://github.com/mixxxdj/mixxx.git</pre>
    </p>

    <p>
      {% blocktrans with compiling_windows_wiki_link="<a href=\"/wiki/doku.php/compiling_on_windows\">"|add:windows|add:"</a>" compiling_osx_wiki_link="<a href=\"/wiki/doku.php/compiling_on_os_x\">"|add:mac_osx|add:"</a>" compiling_linux_wiki_link="<a href=\"/wiki/doku.php/compiling_on_linux\">"|add:linux|add:"</a>" %}Compilation instructions are available for {{ compiling_windows_wiki_link }}, {{ compiling_osx_wiki_link }}, and {{ compiling_linux_wiki_link }}.{% endblocktrans %}
    </p>
  </div>
  {% endifequal %}

  <a name="stable"></a>
  <h1>{% blocktrans %}Download Now ({{ stable_short_version }} Stable){% endblocktrans %}</h1>
  <!-- TODO: Eventually remove when stable_short_version is no longer 2.0.  Leaving the text literal
  so the bad link is more easily caught. -->
  <p>{% blocktrans with release_announcement_link="" %}Check out the <a href="{{ release_announcement_link }}">release announcement</a> for a list of new features.{% endblocktrans %}</p>
  <p>{% blocktrans with previous_link="#previous" %}(Although {{ stable_short_version }} contains many important updates and bugfixes, it's possible some users may experience issues. If you do, you can still get our previous stable version, <a href="{{ previous_link }}">{{ previous_short_version }}</a>.){% endblocktrans %}</p>
  <p>{% trans "Mixxx is available for Windows, macOS, and Linux. We happily provide Mixxx for free, and donations are appreciated!" %}</p>
  {% include "donate_paypal.html" %}
  <div style="clear: both;"></div>
  <div class="halfbox_left darkborder winbox">

    <h2><img src="{% static '/static/images/download_windows.png' %}" class="feature_icon">{{ windows }}</h2>

    <p>
      <a href="{{ stable_win32 }}"
         onClick="javascript:trackDownload('{{ stable_win32_analytics_conversion }}');">
        {% blocktrans %}Download {{ stable_long_version }} for 32-bit Windows{% endblocktrans %}</a>
    </p>

    <p>
      <a href="{{ stable_win64 }}"
         onClick="javascript:trackDownload('{{ stable_win64_analytics_conversion }}');">
        {% blocktrans %}Download {{ stable_long_version }} for 64-bit Windows{% endblocktrans %}</a>
    </p>

    <br>
    <p><small>{% trans "Supported on Windows XP and newer." %} {% blocktrans with platform_update_link="https://support.microsoft.com/en-us/kb/2117917" %}AAC playback requires at least Windows 7 or Windows Vista with a <a href="{{ platform_update_link }}">platform update</a>.{% endblocktrans %}</small></p>
  </div>

  <div class="halfbox_right darkborder macbox">
    <h2><img src="{% static '/static/images/download_mac.png' %}" class="feature_icon" style="margin-top: -7px;">{{ mac_osx }}</h2>
    <p>
      <a href="{{ stable_osxintel }}"
         onClick="javascript:trackDownload('{{ stable_osxintel_analytics_conversion }}');">
        {% blocktrans %}Download {{ stable_long_version }} for macOS 10.8+ (Intel){% endblocktrans %}</a>
    </p>

    <!-- NOTE(rryan): Temporarily hidden while we get back on the Mac App Store -->
    <!--
    <div style="text-align: center;">
      <a href="http://itunes.apple.com/us/app/mixxx/id413756578?mt=12&ls=1">
        <img src="{% static '/static/images/available-on-mac-app-store-frontpage.png' %}" style="padding-bottom: 5px;"></a>
    </div>
    <p><small>Please note due to licensing restrictions, vinyl control is not
    available in Mixxx from the Mac App Store.</small></p>
    -->
  </div>

  <div style="clear: both;"></div>

  <div style="padding: 20px;">
    <h2><img src="{% static '/static/images/download_ubuntu.png' %}" class="feature_icon">{{ ubuntu }}</h2>
    {% trans "Ubuntu 12.04 (Precise)" as stable_ubuntu_min_supported_version %}
    {% trans "Ubuntu 16.04 (Xenial)" as stable_ubuntu_max_supported_version %}
    <p>{% blocktrans %}Download {{ stable_long_version }} for {{ stable_ubuntu_min_supported_version }} through {{ stable_ubuntu_max_supported_version}}:{% endblocktrans %}</p>
    <p>{% trans "Open a terminal, and enter:" %}</p>
    <pre>
      sudo add-apt-repository ppa:mixxx/mixxx
      sudo apt-get update
      sudo apt-get install mixxx
    </pre>
    <p>
      {% with "<a href='https://launchpad.net/~mixxx/+archive/mixxx' onclick=\"javascript:trackDownload('/downloads/2.0.0-ubuntu-ppa');\">"|add:mixxx_ppa|add:"</a>" as ppa_link %}
      {% blocktrans %}This will install the latest version of Mixxx from the {{ ppa_link }} on Launchpad.{% endblocktrans %}
      {% endwith %}
    </p>
    <p><a href="{{ stable_ubuntu32 }}"
          onclick="javascript:trackDownload('{{ stable_ubuntu32_analytics_conversion }}');">
        {% blocktrans %}{{ stable_long_version }} for 32-bit Ubuntu Trusty (and newer){% endblocktrans %}</a></p>

    <p><a href="{{ stable_ubuntu64 }}"
          onclick="javascript:trackDownload('{{ stable_ubuntu64_analytics_conversion }}');">
        {% blocktrans %}{{ stable_long_version }} for 64-bit Ubuntu Trusty (and newer){% endblocktrans %}</a></p>

    <div style="width: 66%; margin: 0 auto;">
      <small><b>{% trans "Ubuntu Repositories" %}:</b><br/>{% blocktrans %}Ubuntu also provides a version of Mixxx which can be installed directly from the Ubuntu Software Centre. This version is usually woefully out of date; therefore using the PPA is preferable.{% endblocktrans %}</small>
    </div>

    <h2>{% trans "Linux / Source Code" %}</h2>
    <p>
      <a href="{{ stable_linuxsrc }}"
         onClick="javascript:trackDownload('{{ stable_linuxsrc_analytics_conversion }}');">
        {% blocktrans %}Download {{ stable_long_version }} Source Code{% endblocktrans %}
      </a>
    </p>

    <p>
      {% trans "The Mixxx source code is made available under the GPL v2 or later. Please check the LICENSE file in our source tree for complete licensing information." %}
      {% blocktrans with mixxx_github_link="https://github.com/mixxxdj/mixxx" %}The latest code from Mixxx's development branch is hosted on <a href="{{ mixxx_github_link }}">GitHub</a>:{% endblocktrans %}
      <pre>        git clone -b 2.1 https://github.com/mixxxdj/mixxx.git</pre>
    </p>

    <p>
      {% blocktrans with compiling_windows_wiki_link="<a href=\"/wiki/doku.php/compiling_on_windows\">"|add:windows|add:"</a>" compiling_osx_wiki_link="<a href=\"/wiki/doku.php/compiling_on_os_x\">"|add:mac_osx|add:"</a>" compiling_linux_wiki_link="<a href=\"/wiki/doku.php/compiling_on_linux\">"|add:linux|add:"</a>" %}Compilation instructions are available for {{ compiling_windows_wiki_link }}, {{ compiling_osx_wiki_link }}, and {{ compiling_linux_wiki_link }}.{% endblocktrans %}
    </p>
  </div>

  {% ifequal show_previous "yes" %}
  <a name="previous"></a>
  <h1>{% blocktrans %}Download Now ({{ previous_long_version }} Previous Stable Version){% endblocktrans %}</h1>
  {% trans "Mixxx is available for Windows, macOS, and Linux:" %}
  <div style="clear: both;"></div>
  <div class="halfbox_left darkborder winbox">

    <h2><img src="{% static '/static/images/download_windows.png' %}" class="feature_icon">{{ windows }}</h2>

    <p>
      <a href="{{ previous_win32 }}"
         onClick="javascript:trackDownload('{{ previous_win32_analytics_conversion }}');">
        {% blocktrans %}Download {{ previous_long_version }} for 32-bit Windows{% endblocktrans %}</a>
    </p>

    <p>
      <a href="{{ previous_win64 }}"
         onClick="javascript:trackDownload('{{ previous_win64_analytics_conversion }}');">
        {% blocktrans %}Download {{ previous_long_version }} for 64-bit Windows{% endblocktrans %}</a>
    </p>

    <br>
    <p><small>{% blocktrans with platform_update_link="https://support.microsoft.com/en-us/kb/2117917" %}AAC playback requires Windows 7 or greater or Windows Vista with a <a href="{{ platform_update_link }}">platform update</a>.{% endblocktrans %}</small></p>
  </div>

  <div class="halfbox_right darkborder macbox">
    <h2><img src="{% static '/static/images/download_mac.png' %}" class="feature_icon" style="margin-top: -7px;">{{ mac_osx }}</h2>
    <p>
      <a href="{{ previous_osxintel }}"
         onClick="javascript:trackDownload('{{ previous_osxintel_analytics_conversion }}');">
        {% blocktrans %}Download {{ previous_long_version }} for macOS 10.5+ (Intel){% endblocktrans %}</a>
    </p>
    <p>
      <a href="{{ previous_osxppc }}"
         onClick="javascript:trackDownload('{{ previous_osxppc_analytics_conversion }}');">
        {% blocktrans %}Download {{ previous_long_version }} for macOS 10.5+ (PPC){% endblocktrans %}</a>
    </p>

    <!-- NOTE(rryan): Temporarily hidden while we get back on the Mac App Store -->
    <!--
    <div style="text-align: center;">
      <a href="http://itunes.apple.com/us/app/mixxx/id413756578?mt=12&ls=1">
        <img src="{% static '/static/images/available-on-mac-app-store-frontpage.png' %}" style="padding-bottom: 5px;"></a>
    </div>
    <p><small>Please note due to licensing restrictions, vinyl control is not
    available in Mixxx from the Mac App Store.</small></p>
    -->
  </div>

  <div style="clear: both;"></div>

    <h2>{% trans "Linux / Source Code" %}</h2>
    <p>
      <a href="{{ previous_linuxsrc }}"
         onClick="javascript:trackDownload('{{ previous_linuxsrc_analytics_conversion }}');">
        {% blocktrans %}Download {{ previous_long_version }} Source Code{% endblocktrans %}
      </a>
    </p>

  {% endifequal %}

</div>
{% endblock %}
