{% extends "base.html" %}

{% load i18n %}

{% block body %}

<div class="container">
  <h1>{% trans "We're sorry!" %}</h1>
  <p>{% blocktrans %}The page <b id="url"></b> couldn't be found.{% endblocktrans %}</p>
</div>

{% endblock %}

{% block extra_script %}
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {

    // Add the missing url to the text
    $("#url").text(window.location.pathname);

    // Fix the css locations dynamically
    $("head link").each(function() {
      for (var i=0; i<window.location.pathname.split(/\//g).length-2; i++)
        $(this).attr("href", "../" + $(this).attr("href"));
      });
    })
</script>
{% endblock %}
