{% extends "base.html" %}

{% block title %}Get Involved{% endblock %}

{% block body %}
<div class="content">
<div style="padding-top: 5px; float: right;">
<H2><a href="#djs">Not a coder? Scroll down!</a></H2>
</div>
<H1>Get Involved</H1>
<div class="halfbox_left">
<H2>Software Developers</H2>
<p>
Mixxx is written in C++ and uses the <a href="http://www.qt-project.org">Qt</a> platform library for most data structures, graphics drawing, and window handling. Fortunately, Qt is easy to use and very well documented, <b>so you don't need any prior Qt or audio programming experience to start hacking on Mixxx</b>.
</p>
<p>Besides creating cool DJ software and working with a fun team, contributing to Mixxx also looks great on your resume or CV. It's also an ideal way to learn about real-time audio programming, Qt, or even just hone your C++ skills.
</p>
</div>
<div class="halfbox_right">
<H3>Start Developing Now</H3>
<ul>
    <li><p>Get a <a href="https://github.com">Github</a> account and <a href="/wiki/doku.php/using_git">fork your own branch</a>!</p></li>
    <li><p>Pick a bug off our <a href="https://bugs.launchpad.net/mixxx/+bugs?field.tag=easy">Easy Bugs List</a> and start hacking!<br><br> Fixed it? Your name will be in the <a href="/contact/">Mixxx credits</a>!</p></li>
    <li><p>When you're stuck, get help from our existing developers our IRC channel: #mixxx on <a href="http://www.freenode.net">Freenode</a></p></li>
    <li><p>Join our mailing list: <a href="https://lists.sourceforge.net/lists/listinfo/mixxx-devel">mixxx-devel</a></li>
    <li>You don't even have to know C++. There are developers who got into Mixxx development while learning C++ along the way.
    </li>
</ul>
</div>
<div style="clear: both;"></div>
<div class="gapfiller">
<H3>Development Cycle in a Nutshell</H3>
<img src="{% static '/static/images/developmentcycle.png' %}" alt="Mixxx Development Cycle">
</div>

<div class="halfbox_left">

<a name="djs"></a>
<H2>DJs</H2>
There are many ways to help out as a DJ:
<ul>
    <li><p><a href="/wiki/doku.php/midi_controller_mapping_file_format">Create or improve MIDI mappings</a> for your controller</p></li>
    <li><p><a href="http://bugs.launchpad.net/mixxx">Report bugs</a> as you find them.</p></li>
    <li><p>Help keep our <a href="/wiki">Wiki</a> up-to-date.</p></li>
    <li><p>Answer questions on the <a href="/forums/viewforum.php?f=3">Troubleshooting Forum</a> and our <a href="https://answers.launchpad.net/mixxx">Launchpad Answers page</a>.
    <li><p><b>Promote Mixxx:</b> Write an article about how you use Mixxx for your blog, or mention us when new releases come out. Any exposure on the web and in print helps our project grow, and is much appreciated!</p></li>
    <li><p><a href="/forums/viewtopic.php?f=5&t=1025">Post some photos</a> of you using Mixxx at a gig!</p></li>
</ul>
</div>

<a name="translators"></a>
<div class="halfbox_right">
<H2>Translators</H2>
<p>We're pleased to offer Mixxx in many languages. Our translations are <b>entirely</b> community provided, so we need your help to spread Mixxx with translations into more languages, as well as to update and ensure the accuracy of existing translations.</p>
<p>You can help translate by visiting our <a href="https://www.transifex.com/projects/p/mixxxdj/">translations page</a>. To get help when translating, visit the <a href="/forums/viewforum.php?f=10">Mixxx Localization forum</a>.</p>
</div>
<div class="halfbox_right">
<H2>Graphic Artists</H2>
<ul>
    <li>
        <p><a href="/wiki/doku.php/creating_skins">Make skins</a> and share them on <a href="/forums/viewforum.php?f=8">our forum</a>
    </li>
</ul>
</p>
</div>
<div style="clear: both;"></div>

{% endblock %}
