{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Get Involved" %}{% endblock %}

{% block body %}
<h2 style="display:inline-block">{% trans "Get Involved" %}</h2>
<p><a href="#djs">{% trans "Not a coder? Scroll down!" %}</a></p>

<div id="developers" class="docs-section">
  <div class="grid-container halves">
    <div>
      <h6 class="docs-header">{% trans "Software Developers" %}</h6>
      <p>
        {% blocktrans with qt_link="http://www.qt.io" %}Mixxx is written in C++ and uses the <a href="{{ qt_link }}">Qt</a> platform library for most data structures, graphics drawing, and window handling. Fortunately, Qt is easy to use and very well documented, <b>so you don't need any prior Qt or audio programming experience to start hacking on Mixxx</b>.{% endblocktrans %}
      </p>
      <p>
        {% blocktrans %}Besides creating cool DJ software and working with a fun team, contributing to Mixxx also looks great on your resume or CV. It's also an ideal way to learn about real-time audio programming, Qt, or even just hone your C++ skills.{% endblocktrans %}
      </p>
    </div>
    <div>
      <h6 class="docs-header">{% trans "Start Developing Now" %}</h6>
      <ul>
        <li>
            {% blocktrans with com_github_link="https://github.com" using_git_wiki_link="/wiki/doku.php/using_git" %}Get a <a href="{{ com_github_link }}">Github</a> account and <a href="{{ using_git_wiki_link }} ">fork your own branch</a>!{% endblocktrans %}
        </li>
        <li>
            {% blocktrans with easy_bug_list_link="https://bugs.launchpad.net/mixxx/+bugs?field.tag=easy" mixxx_credits_link="/contact/" %}Pick a bug off our <a href="{{ easy_bug_list_link }} ">Easy Bugs List</a> and start hacking!<br><br> Fixed it? Your name will be in the <a href="{{ mixxx_credits_link }}">Mixxx credits</a>!{% endblocktrans %}
        </li>
        <li>
            {% blocktrans with zulip_web_link="https://mixxx.zulipchat.com/" %}When you're stuck, get help from our existing developers on <a href="{{ zulip_web_link }}">Zulip chat</a>{% endblocktrans %}
        </li>
        <li>
            {% blocktrans with mailing_list_link="https://lists.sourceforge.net/lists/listinfo/mixxx-devel" %}Join our mailing list: <a href="{{ mailing_list_link }}">mixxx-devel</a>{% endblocktrans %}
        </li>
        <li>
            {% blocktrans %}You don't even have to know C++. There are developers who got into Mixxx development while learning C++ along the way.{% endblocktrans %}
        </li>
      </ul>
    </div>
  </div>

  <div>
    <h6 class="docs-header">{% trans "Development Cycle in a Nutshell" %}</h6>
    <img class="responsive" src="{% static '/static/images/developmentcycle.png' %}" alt="{% trans "Mixxx Development Cycle" %}">
  </div>
</div>

<div id="developers" class="docs-section">
  <div class="grid-container halves">
    <div>
      <a name="djs"></a>
      <h2>{% trans "DJs" %}</h2>
      {% trans "There are many ways to help out as a DJ:" %}
      <ul>
        <li>
          {% blocktrans with controller_wiki_link="/wiki/doku.php/start#controller_mapping_documentation" %}<a href="{{ controller_wiki_link }}">Create or improve mappings</a> for your controller.{% endblocktrans %}
        </li>
        <li>
          {% blocktrans with bug_tracker_link="https://bugs.launchpad.net/mixxx/+filebug" %}<a href="{{ bug_tracker_link }}">Report bugs</a> as you find them.{% endblocktrans %}
        </li>
        <li>
          {% blocktrans with mixxx_wiki_link="/wiki/" %}Help keep our <a href="{{ mixxx_wiki_link }}">Wiki</a> up-to-date.{% endblocktrans %}
        </li>
        <li>
          {% blocktrans with forum_link="/forums/" zulip_web_link="https://mixxx.zulipchat.com/" %}Support other DJs with their technical questions on <a href="{{ forum_link }}">the forums</a> and <a href="{{ zulip_web_link }}">Zulip</a>.{% endblocktrans %}
        </li>
        <li>
          <b>{% trans "Promote Mixxx:" %} </b>{% blocktrans %}Write an article about how you use Mixxx for your blog, or mention us when new releases come out. Any exposure on the web and in print helps our project grow, and is much appreciated!{% endblocktrans %}
        </li>
        <li>
          {% blocktrans with photos_forum_link="/forums/viewtopic.php?f=5&t=1025" %}<a href="{{ photos_forum_link }}">Post some photos</a> of you using Mixxx at a gig!{% endblocktrans %}
        </li>
      </ul>
    </div>
    <div>
      <a name="translators"></a>
      <h2>{% trans "Translators" %}</h2>
      <p>
        {% blocktrans %}We're pleased to offer Mixxx in many languages. Our translations are entirely community provided, so we need your help to spread Mixxx with translations into more languages, as well as to update and ensure the accuracy of existing translations.{% endblocktrans %}
      </p>
      <p>
        {% blocktrans with com_transifex_mixxxdj_link="https://www.transifex.com/organization/mixxx-dj-software" i18n_forum_link="/forums/viewforum.php?f=10" %}You can help translate by visiting our <a href="{{ com_transifex_mixxxdj_link }}">translations page</a>. To get help when translating, visit the <a href="{{ i18n_forum_link }}">Mixxx Localization forum</a>.{% endblocktrans %}
      </p>

      <h2>{% trans "Graphic Artists" %}</h2>
      <p>
        {% blocktrans with creating_skins_wiki_link="/wiki/doku.php/creating_skins" skins_forum_link="/forums/viewforum.php?f=8" %}<a href="{{ creating_skins_wiki_link }}">Make skins</a> and share them on <a href="{{ skins_forum_link }}">our forum</a>.{% endblocktrans %}
      </p>
    </div>
  </div>
</div>
{% endblock %}
