{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Free DJ Mixing Software App" %}{% endblock %}

{% block after_navbar %}
<div id="driveby_social">
  <ul>
    <li>
      <a class="twitter social_icon" href="https://twitter.com/mixxxdj" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path style="fill:#fff;" d="M492 109.5c-17.4 7.7-36 12.9-55.6 15.3 20-12 35.4-31 42.6-53.6-18.7 11.1-39.4 19.2-61.5 23.5C399.8 75.8 374.6 64 346.8 64c-53.5 0-96.8 43.4-96.8 96.9 0 7.6.8 15 2.5 22.1-80.5-4-151.9-42.6-199.6-101.3-8.3 14.3-13.1 31-13.1 48.7 0 33.6 17.2 63.3 43.2 80.7-16-.4-31-4.8-44-12.1v1.2c0 47 33.4 86.1 77.7 95-8.1 2.2-16.7 3.4-25.5 3.4-6.2 0-12.3-.6-18.2-1.8 12.3 38.5 48.1 66.5 90.5 67.3-33.1 26-74.9 41.5-120.3 41.5-7.8 0-15.5-.5-23.1-1.4C62.8 432 113.7 448 168.3 448 346.6 448 444 300.3 444 172.2c0-4.2-.1-8.4-.3-12.5C462.6 146 479 129 492 109.5z"/></svg>
        <span>Twitter</span>
      </a>
    </li>
    <li>
      <a class="facebook social_icon" href="#" target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path style="fill:#fff;" d="M426.8 64H85.2C73.5 64 64 73.5 64 85.2v341.6c0 11.7 9.5 21.2 21.2 21.2H256V296h-45.9v-56H256v-41.4c0-49.6 34.4-76.6 78.7-76.6 21.2 0 44 1.6 49.3 2.3v51.8h-35.3c-24.1 0-28.7 11.4-28.7 28.2V240h57.4l-7.5 56H320v152h106.8c11.7 0 21.2-9.5 21.2-21.2V85.2c0-11.7-9.5-21.2-21.2-21.2z"/></svg>
        <span>Facebook</span>
      </a>
  </ul>
</div>

<div id="splash">
  <h1>{% trans "DJ Your Way" %}</h1>
  <img class="center responsive" src="{% static '/static/images/splash-2.1.png' %}">
</div>
{% endblock %}

{% block body %}
<div class="gapfiller" style="margin-bottom: 0px;">
  <p>Free and open source DJ software for Windows, macOS, and Linux</p>
  {% include "download_button.html" %}
  <div style="clear: both;"></div>
</div> <!-- gapfiller -->

<div class="content">
  <h1>{% trans "Powerful Features For All DJs" %}</h1>

  <p class="header">{% blocktrans %}Mixxx integrates the tools DJs need to perform creative live mixes with digital music files.<br/>Whether you are a new DJ with just a laptop or an experienced turntablist, Mixxx can support your style and techniques of mixing.{% endblocktrans %}</p>

  <div class="halfbox_left">
    <h2><img src="{% static '/static/images/ic_preferences_keydetect.png' %}" class="feature_icon">{% trans "BPM, Key Detection & Sync" %}</h2>
    <p class="feature_indent">
      {% blocktrans %}BPM and musical key detection help you find the perfect next track from your library. Use master sync to match the tempo and beats of four songs for seamless mixing.{% endblocktrans %}
    </p>
  </div>

  <div class="halfbox_right">
    <h2><img src="{% static '/static/images/ic_preferences_controllers.png' %}" class="feature_icon">{% trans "DJ Controller Support" %}</h2>
    <p class="feature_indent">
      {% blocktrans %}Built-in mappings for DJ controller hardware gives you hands-on control of Mixxx's features. Use the programmable mapping system to customize your workflow and add support for any MIDI or HID device.{% endblocktrans %}
    </p>
  </div>

  <div style="clear: both;"></div>

  <div class="halfbox_left">
    <h2><img src="{% static '/static/images/ic_preferences_waveform.png' %}" class="feature_icon">{% trans "Effects" %}</h2>
    <p class="feature_indent">
      {% blocktrans %}Add your unique spin to tracks with sound effects. Get creative by chaining multiple effects together and twisting all their knobs.{% endblocktrans %}
    </p>
  </div>

  <div class="halfbox_right">
    <h2><img src="{% static '/static/images/ic_preferences_vinyl.png' %}" class="feature_icon">{% trans "Vinyl Record Control" %}</h2>
    <p class="feature_indent">
      {% blocktrans %}Use turntables with timecode vinyl records to control playback and scratch your digital music files as if they were pressed on vinyl. Mix music vinyls into your set by toggling vinyl passthrough mode.{% endblocktrans %}
      <a href="/features">{% trans "Read more" %}</a>
    </p>
  </div>

  <div style="clear: both;"></div>

  <div class="gapfiller">
    <p>
      {% blocktrans with features_link="/features" %}See <a href="{{ features_link }}">dozens more features</a> or start downloading Mixxx for free now:{% endblocktrans %}
    </p>
    {% include "download_button.html" %}
    <div style="clear: both;"></div>
  </div>

  <h1>{% trans "Friendly Community" %}</h1>
  <p class="header">
    {% blocktrans %}Mixxx is developed by an international community of DJs, programmers, and artists. Because Mixxx is <b>free (<a href="https://www.gnu.org/philosophy/free-sw.html">as in freedom</a> and price), open source</b> software, anyone can contribute to make Mixxx even better&mdash;including you!{% endblocktrans %}
  </p>

  <p class="header">
    {% blocktrans with launchpad_bugs="https://bugs.launchpad.net/mixxx/" mapping_link="/wiki/doku.php/start#controller_mapping_documentation" create_a_branch_link="/get-involved#developers" help_with_translations_link="/get-involved#translators" starter_tasks_link="/get-involved"  %} You can get involved with Mixxx today by <a href="{{ launchpad_bugs }}">reporting bugs and suggesting features</a>, <a href="{{ mapping_link }}">making a controller mapping</a>, <a href="{{ create_a_branch_link }}">adding features &amp; fixing bugs</a>, <a href="{{ help_with_translations_link }}">helping with translations</a>, or working on one of our other <a href="{{ starter_tasks_link }}">starter tasks</a>.{% endblocktrans %}
  </p>

  <div id="achievements">
    <div class="achievement" style="width: 180px;">
      <img class="responsive" src="{% static '/static/images/rating_macappstore.png' %}" alt="#1" style="padding-top: 0px;">
      <br>
      {% trans "#1 Top Free Mac App Worldwide" %}<br>
      Mac App Store<br>
      <small>{% trans "February 2011" %}</small>
    </div>

    <div class="achievement" style="margin-top: 10px;">
      <img class="responsive" src="{% static '/static/images/rating_cnet.png' %}" alt="CNet">
    </div>

    <div class="achievement" style="margin-top: 30px;">
      <img class="responsive" src="{% static '/static/images/rating_cm.png' %}" alt="Computer Music"><br>
      {% trans "Free Pick of the Month" %}<br>
      <small>{% trans "September 2007" %}</small>
    </div>

    <div class="achievement" style="margin-top: 50px">
      <img class="responsive" src="{% static '/static/images/rating_synthtopia.png' %}" alt="Synthtopia">
      <br>
      {% trans '"The coolest open source<br>application ever?"' %}<br>
      <small>{% trans "February 2011" %}</small>
    </div>

    <div style="clear: both;"></div>
  </div>

</div> <!-- content -->
{% endblock %}
