{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Free MP3 DJ Mixing Software" %}{% endblock %}

{% block after_navbar %}
<div id="driveby_social">
  <ul>
    <li>
      <a href="https://twitter.com/share" class="twitter-share-button"
         data-url="http://www.mixxx.org"
         data-text="{% blocktrans %}Check out Mixxx - Free MP3 DJ mixing software for Windows, Mac OS X, and Linux{% endblocktrans %}"
         data-via="mixxxdj"
         data-count="vertical">Tweet</a>
    </li>
    <li>
      <g:plusone size="tall" href="http://www.mixxx.org"></g:plusone>
    </li>
    <li>
      <fb:like href="http://www.mixxx.org" send="false" layout="box_count" width="60" show_faces="false" style="position: relative; top: -4px;"></fb:like>
    </li>
  </ul>
</div>

<div id="splash">
  <img width="920px" class="background" src="{% static '/static/images/splash-2.0.jpg' %}">
  <div id="splash_newversion_button">
    <a href="/whats-new-in-mixxx-2-0">
      <img alt="{% blocktrans %}Check out what's new in Mixxx 2.0{% endblocktrans %}"
           src="{% static '/static/images/splash_newversion.png' %}">
    </a>
  </div>
</div>
{% endblock %}

{% block body %}
<div class="gapfiller" style="margin-bottom: 0px;">
  {% include "download_button.html" %}

        <!--
        <div style="padding-left: 24px; width: 192px;">
        <p>Download FREE for <script type="text/javascript"> document.write(OSName); </script> </p>
        </div>
        -->
	<!-- Deactivate linking to outdated MAS version 10/6/13 8:26 AM //jus
    <div style="float: right; margin-top: 0px; margin-right: -14px;">
        <script type="text/javascript">
            if (OSName.search("OS X") >= 0) {
                document.write('<a href="http://itunes.apple.com/us/app/mixxx/id413756578?mt=12&ls=1"><img src="{% static '/static/images/available-on-mac-app-store-frontpage.png' %}" ></a><br>');
            } else
            {
                document.write("<p><small>Download FREE for " + OSName + "</small></p>");
            }
            </script>
    </div>
 	-->
    <!--
    <div style="float: right; margin-top: 16px; padding-right: 8px;">
        <img src="{% static '/static/images/squiggle.png' %}">
    </div>-->
  <p style="text-align: center;">The most advanced free DJ software can be yours in seconds.</p>
  <div style="clear: both;"></div>
</div> <!-- gapfiller -->

<div class="content">
  <H1>{% trans "Incredible Features, Unbeatable Value" %}</H1>

  {% blocktrans %}Mixxx has everything you need to start making DJ mixes in a tight, integrated package. Whether you're DJing your next house party, spinning at a club, or broadcasting as a radio DJ, Mixxx has what you need to do it right.{% endblocktrans %}

  <div class="halfbox_left">
    <H2><img src="{% static '/static/images/ic_library_itunes.png' %}" class="feature_icon">{% trans "iTunes Integration" %}</H2>
    <p class="feature_indent">
      {% blocktrans %}All your playlists and songs from iTunes, automatically ready to go for your next live DJ performance.{% endblocktrans %}
    </p>
  </div>

  <div class="halfbox_right">
    <H2><img src="{% static '/static/images/ic_preferences_controllers.png' %}" class="feature_icon">{% trans "MIDI and HID Controller Support" %}</H2>
    <p class="feature_indent">
      {% blocktrans %}With over 30 DJ MIDI controllers supported out-of-the-box and several HID controllers, Mixxx gives you comprehensive hardware control for your DJ mixes.{% endblocktrans %}
    </p>
  </div>

  <div style="clear: both;"></div>

  <div class="halfbox_left">
    <H2><img src="{% static '/static/images/ic_library_prepare.png' %}" class="feature_icon">{% trans "BPM Detection and Master Sync" %}</H2>
    <p class="feature_indent">
      {% blocktrans %}Instantly sync the tempo of four songs for seamless beatmixing. Need a break? Create a quick playlist and let Auto DJ take over.{% endblocktrans %}
    </p>
  </div>

  <div class="halfbox_right">
    <H2><img src="{% static '/static/images/ic_preferences_crossfader.png' %}" class="feature_icon">{% trans "Powerful Mixing Engine" %}</H2>
    <p class="feature_indent">
      {% blocktrans %}Mixxx has a cutting-edge mixing engine including support for MP3, M4A/AAC, OGG, FLAC, and WAV audio, adjustable EQ shelves, timecode vinyl control, recording, and Shoutcast broadcasting.{% endblocktrans %}
      <a href="/features">{% trans "Read more" %}</a>

    </p>
  </div>

  <div style="clear: both;"></div>

  <div class="gapfiller" style="height: 57px;">
    {% include "download_button.html" %}
    <p style="text-align: center;">
      {% blocktrans with features_link="/features" %}See <a href="{{ features_link }}">dozens more features</a> or start downloading Mixxx for FREE now:{% endblocktrans %}
    </p>
  </div>

  <H1>{% trans "And It Just Keeps Getting Better" %}</H1>
  <p>
    {% blocktrans %}Each year, a community of DJs, programmers, and artists contribute dozens of new features to Mixxx. <br> <b>And it doesn't cost you a dime.</b>{% endblocktrans %}
  </p>

  <p>
    {% blocktrans %}Because Mixxx is <b>open source</b>, anyone can remix or add new features to it. And that includes you!{% endblocktrans %}
  </p>

  <p>
    {% blocktrans with create_a_branch_link="/get-involved#developers" help_with_translations_link="/get-involved#translators" starter_tasks_link="/get-involved" %}You can get involved with Mixxx today by <a href="{{ create_a_branch_link }}">creating your own branch</a>, <a href="{{ help_with_translations_link }}">helping with translations</a>, or working on one of our other <a href="{{ starter_tasks_link }}">starter tasks</a>.{% endblocktrans %}
  </p>

  <div id="achievements">
    <div class="achievement" style="width: 180px;">
      <img src="{% static '/static/images/rating_macappstore.png' %}" alt="#1" style="padding-top: 0px;">
      <br>
      {% trans "#1 Top Free Mac App Worldwide" %}<br>
      Mac App Store<br>
      <small>{% trans "February 2011" %}</small>
    </div>

    <div class="achievement" style="margin-top: 10px;">
      <img src="{% static '/static/images/rating_cnet.png' %}" alt="CNet">
    </div>

    <div class="achievement" style="margin-top: 30px;">
      <img src="{% static '/static/images/rating_cm.png' %}" alt="Computer Music"><br>
      {% trans "Free Pick of the Month" %}<br>
      <small>{% trans "September 2007" %}</small>
    </div>

    <div class="achievement" style="margin-top: 50px">
      <img src="{% static '/static/images/rating_synthtopia.png' %}" alt="Synthtopia">
      <br>
      {% trans '"The coolest open source<br>application ever?"' %}<br>
      <small>{% trans "February 2011" %}</small>
    </div>

    <div style="clear: both;"></div>
  </div>

  <H1>{% trans "If you like Mixxx..." %}</H1>
  <div style="float: right;">
    <a href="http://www.oscillicious.com/?utm_source=mixxx&utm_medium=gap_banner&utm_content=frontpage_workinghard&utm_campaign=mixxx"><img src="{% static '/static/images/oscillicious_logo1.png' %}"></a>
  </div>
  <p>{% blocktrans with oscillicious_link="http://www.oscillicious.com/?utm_source=mixxx&utm_medium=gap_banner&utm_content=frontpage_workinghard&utm_campaign=mixxx" beatcleaver_link="http://www.oscillicious.com/beatcleaver/sampling-for-mixxx?utm_source=mixxx&utm_medium=gap_banner&utm_content=frontpage_workinghard&utm_campaign=mixxx" jamdeck_link="http://www.jamdeck.net/?utm_source=mixxx&utm_medium=gap_banner&utm_content=frontpage_workinghard&utm_campaign=mixxx" %}The developers of Mixxx at <a href="{{ oscillicious_link }}">Oscillicious Audio Labs</a> have been working hard on <a href="{{ beatcleaver_link }}">BeatCleaver</a> and <a href="{{ jamdeck_link }}">JamDeck</a>, check them out!{% endblocktrans %}
  </p>
  <div style="clear: both;"></div>

</div> <!-- content -->
{% endblock %}
