{% load i18n %}
<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Mixxx - {% block title %}{% endblock %}</title>
    {% trans "Download the most advanced FREE DJ software available, featuring iTunes integration, MIDI controller support, internet broadcasting, and integrated music library." context "Summary of Mixxx shown in social media shares and search engines." as default_meta_description %}
    {# Don't remove since it verifies ownership of mixxx.org in Google Webmaster Tools #}
    <meta name="google-site-verification" content="e7xeN8MhmdNedrrTVu7RRKXNl_8UBjg418brYV3XIPE" />
    <meta name="description" content="{% block meta_description %}{{ default_meta_description }}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}dj, dj software, free dj software, mixxx, dj mix, mp3 dj, mix mp3, download, crossfader, digital dj, beatmix, beatmixing, mp3, open source, mixing, mixer{% endblock %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

    <meta property="og:type" content="website"/>
    <meta property="og:description" content="{{ default_meta_description }}"/>
    <meta property="og:site_name" content="Mixxx DJ Software"/>
    <meta property="og:image" content="{% config 'site-url' %}{% static '/static/images/splash-2.1.png' %}"/>
    {# should be equivalent to rel=canonical -- used for aggregating likes #}
    <meta property="og:url" content="{{ CURRENT_PAGE.absolute_final_url }}"/>
    <meta property="article:publisher" content="https://www.facebook.com/pages/Mixxx-DJ-Software/21723485212"/>

    <link rel="canonical" href="{{ CURRENT_PAGE.absolute_final_url }}" />
    <link rel="shortcut icon" href="{% static '/static/images/favicon.ico' %}">
    <link rel="alternate" type="application/rss+xml" title="Mixxx RSS Feed" href="http://feeds.feedburner.com/MixxxNews">
    <link href="https://plus.google.com/102441931224839455484" rel="publisher">
    <link rel="stylesheet" href="{% static '/static/css/mixxx.css' %}">
    <link href='//fonts.googleapis.com/css?family=Muli&v1' rel='stylesheet' type='text/css'>

    {% block extra_head %}
    {% endblock %}
  </head>

  <body>
    <div id="fb-root"></div>

    {% block navbar %}
    {% include "navbar.html" %}
    {% endblock %}

    {% block after_navbar %}
    {% endblock %}

    <div id="wrapper">
      {% block body %}
      {% endblock %}

      {% block footer %}
      {% include "footer.html" %}
      {% endblock %}
    </div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3647499-1']);
      _gaq.push(['_trackPageview']);

      function trackDownload(url) {
        _gaq.push(['_trackPageview', url]);
      }

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script type="text/javascript"  src="{% static '/static/js/mixxx.js' %}"></script>
    {% block extra_script %}
    {% endblock %}
  </body>
</html>
