<div id="footer" class="footer docs-section">
  <div class="box-center">
    <div class="grid-container thirds">
      <div>
        <h2 class="docs-header">Pages</h2>
        <ul>
          <li><a href="{% url '/index.html' %}">Overview</a></li>
          <li><a href="{% url '/features.html' %}">Features</a></li>
          <li><a href="{% url '/support.html' %}">Support</a></li>
          <li><a href="{% url '/get-involved.html' %}">Get Involved</a></li>
        </ul>
      </div>
      <div>
        <h2 class="docs-header">Community</h2>
        <ul>
          <li><a href="/forums">Forums</a></li>
          <li><a href="/wiki">Wiki</a></li>
          <li><a href="{% url '/news.html' %}">News</a> (<a href="{% url '/feed.xml' %}">Feed</a>)</li>
          <li>
            <a class="twitter social_icon" href="https://twitter.com/mixxxdj" target="_blank">
              <img src="{% static '/static/images/social_icons/twitter.svg' %}">
              <span>Twitter</span>
            </a>
          </li>
          <li>
            <a class="facebook social_icon" href="https://facebook.com/mixxxdj/" target="_blank">
              <img src="{% static '/static/images/social_icons/facebook.svg' %}">
              <span>Facebook</span>
            </a>
          </li>
          <li>
            <a class="zulip social_icon" href="https://mixxx.zulipchat.com" target="_blank">
              <img src="{% static '/static/images/social_icons/zulip.svg' %}">
              <span>Zulip</span>
            </a>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="docs-header">About</h2>
        <ul>
          <li><a href="{% url '/press.html' %}">Press</a></li>
          <li><a href="{% url '/contact.html' %}">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div style="text-align:center">
    &copy; 2001-2020 Mixxx Development Team<br>
    Logo by Paul Bloch
  </div>
</div>

