{% load i18n %}

<div class="navbar-spacer"></div>
<nav id="navbar" class="navbar">
  <div class="container">
    <ul class="navbar-list">
      <li class="navbar-item">
        <a class="navbar-link" href="/">
          <img class="navbar-logo" src="{% static '/static/images/navbar_logo-2.0.png' %}" alt="Mixxx">
        </a>
      </li>
      {% for item in NAV_MENU %}
        <li class="navbar-item">
          <a class="navbar-link" href="{{ item.url }}">
            {% filter nbsp %}{% trans item.title context item.context %}{% endfilter %}
          </a>
          {% if item.children %}
          <ul class="navbar-list navbar-dropdown">
            {% for child in item.children %}
            <li class="navbar-item">
              <a class="navbar-link" href="{{ child.url }}">
                {% filter nbsp %}{% trans child.title context child.context %}{% endfilter %}
              </a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>
