{% load i18n %}

<div id="navbar">
  <div id="nav_logo">
    <a href="/"><img src="{% static '/static/images/navbar_logo-2.0.png' %}" alt="Mixxx"></a>
  </div>
  <div id="navbar_biglinks">
  {% for href, size, title, cont in NAV_MENU %}
    {# using non-breaking spaces here! #}
    {% if size == 'big' %}
    <a class="menu_item" href="{% url href %}">{% filter nbsp %}{% trans title context cont %}{% endfilter %}</a>
    {% endif %}
  {% endfor %}
  </div>
  <div id="navbar_smalllinks">
    <p>
    {% for href, size, title, cont in NAV_MENU %}
      {% if size == 'medium' %}
      <a class="menu_item" href="{% url href %}">{% filter nbsp %}{% trans title context cont %}{% endfilter %}</a>
      {% endif %}
    {% endfor %}

    </p>
    <p style="font-size: 0.7em">
    {% for href, size, title, cont in NAV_MENU %}
      {% if size == 'small' %}
      <a class="menu_item" href="{% url href %}">{% filter nbsp %}{% trans title context cont %}{% endfilter %}</a>
      {% endif %}
    {% endfor %}
    </p>
  </div>
  <div style="clear: both;"></div>
  <!--    Made by Erik Terwan    -->
  <!--   24th of November 2015   -->
  <!--        MIT License        -->
  <nav role='navigation'>
    <div id="menuToggle">
      <!--
      A fake / hidden checkbox is used as click reciever,
      so you can use the :checked selector on it.
      -->
      <input type="checkbox" />
      
      <!--
      Some spans to act as a hamburger.
      
      They are acting like a real hamburger,
      not that McDonalds stuff.
      -->
      <span></span>
      <span></span>
      <span></span>
      
      <!--
      Too bad the menu has to be inside of the button
      but hey, it's pure CSS magic.
      -->
      <ul id="menu">
        <a href="/"><li>{% trans "Home" %}</li></a>
      {% for href, size, title, cont in NAV_MENU %}
        <a href="{% url href %}"><li>{% filter nbsp %}{% trans title context cont %}{% endfilter %}</li></a>
      {% endfor %}
      </ul>
    </div>
  </nav>
</div>