{% extends "base.html" %}

{% load i18n %}

{% block title %}{% blocktrans %}{{title}}{% endblocktrans %}{% endblock %}

{% block body %}
<div class="docs-section container news">
  <h1>{{ title }}</h1>
  {# Post content #}
  <p style="font-size: small;">
    Posted on <time>{{ date|date:"Y-m-d" }}</time>
    {% if authors %}
    by
    {% for author in authors|slice:":-2" %}
    <span class="author">{% if author.url %}<a href="{{ author.url }}">{{ author.name }}</a>{% else %}{{ author.name }}{% endif %}{% if author.github %} (<a href="https://github.com/{{ author.github }}">@{{ author.github }}</a>){% endif %}</span>,
    {% endfor %}
    {% for author in authors|slice:"-2:-1" %}
    <span class="author">{% if author.url %}<a href="{{ author.url }}">{{ author.name }}</a>{% else %}{{ author.name }}{% endif %}{% if author.github %} (<a href="https://github.com/{{ author.github }}">@{{ author.github }}</a>){% endif %}</span> and
    {% endfor %}
    {% for author in authors|slice:"-1:" %}
    <span class="author">
    {% if author.url %}<a href="{{ author.url }}">{{ author.name }}</a>{% else %}{{ author.name }}{% endif %}{% if author.github %} (<a href="https://github.com/{{ author.github }}">@{{ author.github }}</a>){% endif %}</span>
    {% endfor %}
    {% endif %}
  </p>
  {% block post %}{% endblock %}
  <div style="clear: both;"></div>

  {# Links to previous/next post #}
  {% if prevPost or nextPost %}
  <p style="text-align: left;">
    {% if nextPost %}
    <a href="{% url nextPost.path %}">&laquo; {{ nextPost.title }}</a>
    {% endif %}
    {% if prevPost %}
    <span style="float: right;">
      <a href="{% url prevPost.path %}">{{ prevPost.title }} &raquo;</a>
    </span>
    {% endif %}
  </p>
  <div style="clear: both;"></div>
  {% endif %}
</div>
{% endblock %}
