{% load i18n %}
<div class="video-container">
  <div class="video-dialog" data-source="{{ video_id }}">
    <div>
      <p>
        {% blocktrans %}Watching embedded videos will transfer data to YouTube. To protect your privacy, you need to accept <a href="https://policies.google.com/privacy" target="_blank">YouTubes privacy statement and terms of use</a> first by clicking the button below.{% endblocktrans %}
      </p>
      <input type="button" class="button button-secondary video-button" value="{% trans 'Accept &amp; Show Video' %}" />
      <a href="https://www.youtube.com/watch?v={{ video_id }}" class="button button-secondary">{% trans 'Direct Link' %}</a>
    </div>
  </div>
</div>
