{% extends "base.html" %}

{% block title %}{% trans %}Download the Best Free DJ Mixing Software App{% endtrans %}{% endblock %}

{% block extra_head %}
<script src="{{ SITEURL }}/theme/js/download.js"></script>
{% endblock %}

{% block body %}

<div id="download" class="docs-section container">
  <h1><a class="headline-link" href="#download">Download Mixxx</a></h1>
  <p>{% trans %}Mixxx is available for Windows, macOS, and Linux.{% endtrans %}</p>
  <p>
    {% with stable_version=page.stable_version %}
    {% trans %}For live use, we recommend to download the stable <a href="#stable">{{ stable_version }}</a> version.{% endtrans %}
    {% endwith %}

    {% if page.unstable_version %}
    {% with unstable_version=page.unstable_version, next_stable_version=page.next_stable_version %}
    {% trans %}If you want to test the latest features of the upcoming {{ next_stable_version }} release, check out <a href="#unstable">{{ unstable_version }}</a>.{% endtrans %}
    {% endwith %}
    {% endif %}

    {% if page.previous_version %}
    {% trans %}More conservative users can still download one of the <a href="#previous">older and unsupported versions of Mixxx</a> below.{% endtrans %}
    {% endif %}
  </p>

  <p class="grid-container full">
    {% with stable_version=page.stable_version %}
    <a href="#stable" class="button button-primary download-button" title="{% trans %}Download stable version of Mixxx{% endtrans %}">{% trans %}Download {{ stable_version }}{% endtrans %}</a>
    <span class="download-button-description">{% trans %}Select your Operating System below.{% endtrans %}</span>
    {% endwith %}
  </p>
</div>

<div id="donate" class="docs-section container">
  <p>
    {% trans %}You don't need to pay for Mixxx because you can get it here for free. There is no official paid or &quot;pro&quot; version of Mixxx. The version available here is the full version.{% endtrans %}
  </p>
  <p>
    {% trans %}We happily provide Mixxx for free and donations are appreciated but not required.{% endtrans %}
  </p>
  <div class="grid-container halves button-container">
    <div>
      {% include "donate_paypal.html" %}
    </div>
    <div>
      <a class="button button-secondary" href="https://github.com/mixxxdj/mixxx" target="_blank" title="{% trans %}View Source Code on GitHub{% endtrans %}">{% trans %}Source Code{% endtrans %}</a>
    </div>
  </div>
</div>

{% for version_status, version in page.versions.items() %}
<div id="{{ version_status }}" class="docs-section container">
  <h2>
    <a class="headline-link" href="#{{ version.status }}">
      {% with version_name=version.name %}
      {% if version_status == "stable" %}
      {% trans %}Mixxx {{ version_name }} (Stable Version){% endtrans %}
      {% elif version_status == "unstable" %}
      {% trans %}Mixxx {{ version_name }} (Unstable Version){% endtrans %}
      {% else %}
      {% trans %}Mixxx {{ version_name }}{% endtrans %}
      {% endif %}
      {% endwith %}
    </a>
  </h2>

  {% if version_status == "unstable" %}
  {% with stable_version=version.next_stable_version, stable_link="#stable" %}
  <p>{% trans %}For live use, we recommend to download the stable <a href="{{ stable_link }}">{{ stable_version }}</a> version below.{% endtrans %}</p>
  {% endwith %}

  {% with release_announcement=version.release_announcement %}
  <p>{% trans %}The Mixxx team has been working hard on the next version of Mixxx. Check out the <a href="{{ release_announcement }}">release announcement</a> for a list of the new features.{% endtrans %}</p>
  {% endwith %}
  <p>
    {% with version=page.version, stable_link="#stable" %}
    <b>{% trans %}Important:{% endtrans %}</b>
    {% trans %}While {{ version }} has been stable in testing it is not yet recommended for live use unless you are willing to risk a crash. Looking for the stable release? <a href="{{ stable_link }}">Scroll on down.{% endtrans %}</a>
    {% endwith %}
  </p>
  {% elif version_status == "stable" %}
  <p>{% trans %}Although Mixxx {{ version_name }} contains many important updates and bugfixes, it's possible some users may experience issues. If you do, you can still get one of our <a href="#previous">previous versions</a>.{% endtrans %}</p>
  {% endif %}

  <div class="accordion">
  {% for download in version.downloads %}
    <div class="accordion-box">
      <input type="radio" name="download-{{ version_status }}" id="{{ version_status }}-{{ download.slug }}" />
      <label for="{{ version_status }}-{{ download.slug }}" class="button button-secondary">{% if download.name %}{{ download.name }}{% else %}{{ download.os }}{% endif %}</label>
      <div class="accordion-content">
        {% if download.ppa %}
        <p>Open a terminal, and enter:<p>
        <pre><code>sudo add-apt-repository ppa:{{ download.ppa.org }}/{{ download.ppa.name }}
sudo apt update
sudo apt install mixxx</code></pre>
        <p>This will install the latest version of Mixxx from the <a href="https://launchpad.net/~{{ download.ppa.org }}/+archive/{{ download.ppa.name }}">PPA on Launchpad</a>.</p>
        {% endif %}

        {% if download.rpmfusion %}
        <p>An <a href="https://admin.rpmfusion.org/pkgdb/package/free/mixxx/">RPM package</a> for installation is available in the <a href="https://rpmfusion.org/">RPM Fusion</a> repositories.</p>
        <p>Please refer to <a href="https://rpmfusion.org/Configuration">RPM Fusion's instructions</a> on how to enable the repositories on your system. Mixxx only requires enabling the free repository; the nonfree repository is not necessary for Mixxx.</p>
        <p>RPM Fusion builds are maintained by the Mixxx development team. We support the next, the current, and selected previous Fedora release(s) if possible.</p>
        {% if version_status == "unstable" %}
        <p>The package will be continuously updated until Mixxx {{ version.next_stable_version }} is released.</p>
        {% endif %}
        {% endif %}

        {% if download.git_branch %}
        <p>
          {% with git_branch=download.git_branch %}
          The source code for Mixxx {{ version_name }} can be found in the <a href="https://github.com/mixxxdj/mixxx/tree/{{ git_branch }}"><code>{{ git_branch }}</code> branch</a> of the Mixxx repository on GitHub.
          {% endwith %}
          {% if download.git_tag %}
          {% with git_tag=download.git_tag %}
          This specific release has been tagged with <a href="https://github.com/mixxxdj/mixxx/releases/tag/{{ git_tag }}"><code>{{ git_tag }}</code></a>.
          {% endwith %}
          {% endif %}
        </p>
        {% endif %}

        {% if download.packages %}
        {% if download.os %}
        <p>Download Mixxx {{ version_name }} for {{ download.os }}.</p>
        {% endif %}
        {% for package in download.packages %}
        {% with os=download.os, package_name=package.name %}
        <a class="button button-primary download-{{version_status}}-{{ package.slug }}" href="{{ package.url }}" data-os="{% trans %}{{ os }} ({{ package_name }}){% endtrans %}" onclick="javascript:trackDownload('{{ package.analytics_conversion }}');">{% trans %}Download ({{ package_name }}){% endtrans %}</a>
        {% endwith %}
        {% endfor %}

        {% if version.status == "unstable" %}
        <p>New versions will be made available every time the code is changed, so check back periodically for updates until Mixxx {{ version.next_stable_version }} is released.</p>
        {% endif %}
        {% endif %}
      </div>
    </div>
  {% endfor %}
  </div>
</div>
{% endfor %}

<div id="snapshots" class="docs-section container">
  <h2><a class="headline-link" href="#snapshots">{% trans %}Development Snapshots{% endtrans %}</a></h2>
  <p>
    {% with testing_wiki="https://github.com/mixxxdj/mixxx/wiki/Testing" %}{% trans %}Testing the latest code we're working on and giving early feedback is a great way to contribute to Mixxx. Refer to the <a href="{{ testing_wiki }}">Testing wiki page</a> for where to find the latest builds and instructions how to test pull requests before they are merged.{% endtrans %}{% endwith %}
  </p>
</div>

<div id="previous" class="docs-section container">
  <h2><a class="headline-link" href="#previous">{% trans %}Previous Mixxx Versions{% endtrans %}</a></h2>
  <p>
    Although we heartily recommend using latest stable version of Mixxx, you can still find previous versions of Mixxx <a href="http://downloads.mixxx.org/">on our download server</a>.
  </p>
</div>
{% endblock %}
