{% extends "base.html" %}

{% block title %}{% trans %}Free DJ Mixing Software App{% endtrans %}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/pages/index.css">
{% endblock %}

{% block header %}
<div class="header splash cover-bg">
  <div class="container">
    <img class="splash-logo drop-shadow" src="{{ SITEURL }}/theme/images/mixxx-logo.svg" alt="Mixxx Logo">
    <div class="splash-text">
      <h2>{% trans %}DJ Your Way{% endtrans %}</h2>
      <p>Free and open source DJ software for Windows, macOS, and Linux</p>
      <ul class="splash-social">
        <li>
          <a rel="me" class="mastodon social_icon" href="https://floss.social/@mixxx" target="_blank">
            <img src="{{ SITEURL }}/theme/images/social_icons/mastodon.svg" alt="Mastodon" title="Follow Mixxx on Mastodon">
          </a>
        </li>
        <li>
          <a class="facebook social_icon" href="https://facebook.com/mixxxdj/" target="_blank">
            <img class="drop-shadow" src="{{ SITEURL }}/theme/images/social_icons/facebook.svg" alt="Facebook" title="Follow Mixxx on Facebook">
          </a>
        </li>
        <li>
          <a class="zulip social_icon" href="https://mixxx.zulipchat.com" target="_blank">
            <img class="drop-shadow" src="{{ SITEURL }}/theme/images/social_icons/zulip.svg" alt="Zulip" title="Chat on Zulip">
          </a>
        </li>
        <li>
          <a class="github social_icon" href="https://github.com/mixxxdj/mixxx" target="_blank">
            <img class="drop-shadow" src="{{ SITEURL }}/theme/images/social_icons/github.svg" alt="GitHub" title="Get the source on GitHub">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block body %}
<div id="features" class="docs-section container">
  <h2><a class="headline-link" href="#features">{% trans %}Powerful Features For All DJs{% endtrans %}</a></h2>

  <p>{% trans %}Mixxx integrates the tools DJs need to perform creative live mixes with digital music files.<br />Whether you are a new DJ with just a laptop or an experienced turntablist, Mixxx can support your style and techniques of mixing.{% endtrans %}</p>

  <div class="grid-container halves u-align-left">
    <div class="feature-indent">
      <img class="feature-icon" src="{{ SITEURL }}/theme/images/ic_preferences_keydetect.png" alt="{% trans %}BPM, Key Detection & Sync{% endtrans %}">
      <h5 class="docs-header">{% trans %}BPM, Key Detection & Sync{% endtrans %}</h5>
      <p>
        {% trans %}BPM and musical key detection help you find the perfect next track from your library. Use Sync Lock to match the tempo and beats of four songs for seamless mixing.{% endtrans %}
      </p>
    </div>

    <div class="feature-indent">
      <img class="feature-icon" src="{{ SITEURL }}/theme/images/ic_preferences_controllers.png" alt="{% trans %}DJ Controller Support{% endtrans %}">
      <h5 class="docs-header">{% trans %}DJ Controller Support{% endtrans %}</h5>
      <p>
        {% trans %}Built-in mappings for DJ controller hardware gives you hands-on control of Mixxx's features. Use the programmable mapping system to customize your workflow and add support for any MIDI or HID device.{% endtrans %}
      </p>
    </div>

    <div class="feature-indent">
      <img class="feature-icon" src="{{ SITEURL }}/theme/images/ic_preferences_waveform.png" alt="{% trans %}Effects{% endtrans %}">
      <h5 class="docs-header">{% trans %}Effects{% endtrans %}</h5>
      <p>
        {% trans %}Add your unique spin to tracks with sound effects. Get creative by chaining multiple effects together and twisting all their knobs.{% endtrans %}
      </p>
    </div>

    <div class="feature-indent">
      <img class="feature-icon" src="{{ SITEURL }}/theme/images/ic_preferences_vinyl.png" alt="{% trans %}Vinyl Record Control{% endtrans %}">
      <h5 class="docs-header">{% trans %}Vinyl Record Control{% endtrans %}</h5>
      <p>
        {% trans %}Use turntables with timecode vinyl records to control playback and scratch your digital music files as if they were pressed on vinyl. Mix music vinyls into your set by toggling vinyl passthrough mode.{% endtrans %}
      </p>
    </div>
  </div>

  <div>
    <p>
      {% trans %}See dozens <a href="{{ SITEURL }}/features">more features</a> or download Mixxx and start DJing now!{% endtrans %}
    </p>
  </div>
</div>

<div id="opensource" class="docs-section cover-bg">
  <div class="container splash-text">
    <h2><a class="headline-link" href="#opensource">{% trans %}Free &amp; Open Source{% endtrans %}</a></h2>
    <p>
      {% trans %}Mixxx is free open-source software and entirely community-driven. There is no company behind Mixxx &mdash; the development is shouldered by passionate DJs and programmers that dedicate their free time to working on their favorite DJ software. Mixxx is and always will be free!{% endtrans %}
    </p>
  </div>
  <div class="container grid-container thirds drop-shadow">
    <div>
      <a class="button button-primary" href="{{ SITEURL }}/download">{% trans %}Download{% endtrans %}</a>
    </div>
    <div>
      {% include "donate_paypal.html" %}
    </div>
    <div>
      <a class="button button-secondary" href="https://github.com/mixxxdj/mixxx" target="_blank">{% trans %}Source Code{% endtrans %}</a>
    </div>
  </div>
</div>

{% if articles|length >= 2 %}
<div id="news" class="docs-section container">
  <h2><a class="headline-link" href="#news">{% trans %}Latest News{% endtrans %}</a></h2>
  <p>
  {% trans %}To see a list of all news and announcements, head over to <a href="{{ SITEURL }}/news">our news page</a> or subscribe to the <a href="{{ FEED_ATOM }}">Atom feed</a>.{% endtrans %}
  </p>

  <div class="grid-container halves u-align-left">
    {% for article in articles[:2] %}
    <div>
      <time>{{ article.locale_date }}</time>
      <h5>{{ article.title }}</h5>
      {{ article.summary }}
      <a class="button button-secondary" href="{{ SITETURL }}/{{ article.url }}">{% trans %}Read More{% endtrans %}</a>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}


<div id="community" class="docs-section container">
  <h2><a class="headline-link" href="community">{% trans %}Friendly Community{% endtrans %}</a></h2>
  <p>
    {% trans %}Mixxx is developed by an international community of DJs, programmers, and artists. Because Mixxx is <b>free (<a href="https://www.gnu.org/philosophy/free-sw.html">as in freedom</a> and price), open source</b> software, anyone can contribute to make Mixxx even better&mdash;including you!{% endtrans %}
  </p>

  <p>
  {% with github_issues="https://github.com/mixxxdj/mixxx/issues/", mapping_link="https://github.com/mixxxdj/mixxx/wiki/Contributing-Mappings", create_a_branch_link="/get-involved#developers", help_with_translations_link="/get-involved#translators", starter_tasks_link="/get-involved" %}{% trans %}You can get involved with Mixxx today by <a href="{{ github_issues }}">reporting bugs and suggesting features</a>, <a href="{{ mapping_link }}">making a controller mapping</a>, <a href="{{ create_a_branch_link }}">adding features &amp; fixing bugs</a>, <a href="{{ help_with_translations_link }}">helping with translations</a>, or working on one of our other <a href="{{ starter_tasks_link }}">starter tasks</a>.{% endtrans %}{% endwith %}
  </p>
</div>

<div id="archievements" class="docs-section container">
  <div class="grid-container quarters">
    <div class="archievement">
      <img src="{{ SITEURL }}/theme/images/rating_macappstore.png" alt="Mac App Store">
      <br>
      {% trans %}#1 Top Free Mac App Worldwide{% endtrans %}<br>
      Mac App Store<br>
      <small>{% trans %}February 2011{% endtrans %}</small>
    </div>

    <div class="archievement">
      <img src="{{ SITEURL }}/theme/images/rating_cnet.png" alt="CNet">
    </div>

    <div class="archievement">
      <img src="{{ SITEURL }}/theme/images/rating_cm.png" alt="Computer Music"><br>
      {% trans %}Free Pick of the Month{% endtrans %}<br>
      <small>{% trans %}September 2007{% endtrans %}</small>
    </div>

    <div class="archievement">
      <img src="{{ SITEURL }}/theme/images/rating_synthtopia.png" alt="Synthtopia">
      <br>
      {% trans %}"The coolest open source<br>application ever?"{% endtrans %}<br>
      <small>{% trans %}February 2011{% endtrans %}</small>
    </div>
  </div>
</div>
{% endblock %}
