{% extends "base.html" %}

{% block title %}{% trans %}Press{% endtrans %}{% endblock %}

{% block body %}
<div class="docs-section container">
  <h1>{% trans %}Press{% endtrans %}</h1>
  <p>
    {% with project_manager_mail_link="mailto:press@mixxx.org" %}{% trans %}If you want to report on Mixxx and like to get information or interviews, please contact us at <a href="{{ project_manager_mail_link }}">press@mixxx.org</a>. We won't bite, we promise.{% endtrans %}{% endwith %}
  </p>
</div>

<div id="logo" class="docs-section container">
  <h2><a class="headline-link" href="logo">{% trans %}Logo{% endtrans %}</a></h2>
  <img class="u-pull-right" style="max-height: 2em" src="{{ SITEURL }}/theme/images/press_art/logocolour_nopadding_small.png" alt="Mixxx Logo">
  <p>The Mixxx Logo was designed by Paul Bloch back in 2007. It was originally introduced as part of the <a href="/news/2008-02-15-minor-website-revamp.html">website redesign for the Mixxx 1.6.0</a> release.</p>
  <div class="u-cf"></div>

  <div class="grid-container halves">
    <div>
      <a class="button button-secondary u-full-width" href="{{ SITEURL }}/theme/images/press_art/logocolour_nopadding.svg">SVG</a>
    </div>
    <div>
      <a class="button button-secondary u-full-width" href="{{ SITEURL }}/theme/images/press_art/logocolour_nopadding_large.tiff">TIFF (1115 x 278 px)</a>
    </div>
  </div>
  <div class="grid-container thirds">
    <div>
      <a class="button button-secondary u-full-width" href="{{ SITEURL }}/theme/images/press_art/logocolour_nopadding_small.png">PNG (240 x 60 px)</a>
    </div>
    <div>
      <a class="button button-secondary u-full-width" href="{{ SITEURL }}/theme/images/press_art/logocolour_nopadding_medium.png">PNG (480 x 119 px)</a>
    </div>
    <div>
      <a class="button button-secondary u-full-width" href="{{ SITEURL }}/theme/images/press_art/logocolour_nopadding_large.png">PNG (1115 x 278 px)</a>
    </div>
  </div>
</div>

<div id="pressmirror" class="docs-section container">
  <h2><a class="headline-link" href="#pressmirror">{% trans %}Press Mirror{% endtrans %}</a></h2>
  <div class="grid-container halves">

    <div>
      {% trans %}2019-07-07:{% endtrans %}<br/>
      <a href="https://djworx.com/mixxx-2-3-beta-brings-colour-and-more/">
        <h6 class="docs-header">(EN) DJWORX: Mixxx 2.3 Beta Brings Colour And More</h6>
      </a>
      <p class="pressquote"> "it has features to compete with the big guns of the commercial DJ software sector" </p>
    </div>

    <div>
      {% trans %}2019-05-04:{% endtrans %}<br/>
      <a href="https://markettalknews.com/global-dj-software-market-strong-development-by-major-eminent-key-players-technology-and-forecasts-to-2024/">
        <h6 class="docs-header">(EN) Market Talk News: Global DJ Software Market Strong Development By Major Eminent Key Players, Technology and Forecasts to 2024</h6>
      </a>
      <p class="pressquote"> "The Outlook Of Global DJ Software Market: Serato, Pioneer, Atomix, VirtualDJ, Native Instruments, Mixvibes, Algoriddim, PCDJ, Ableton, Stanton, Mixxx" </p>
    </div>

    <div>
      {% trans %}2019-04-29:{% endtrans %}<br/>
      <a href="https://amarketresearchgazette.com/global-music-software-market-2019-types-emerging-technology-rising-trends-demands-top-manufacturers-growth-forecast-outlook-to-2023/">
        <h6 class="docs-header">(EN) Market Research Gazette: Global Music Software Market 2019</h6>
      </a>
      <p class="pressquote"> "The Top Key Players covered in this market Report are Serato, Pioneer, Atomix VirtualDJ, Native Instruments, Mixvibes, Algoriddim, PCDJ, Ableton, Stanton, Mixxx." </p>
    </div>

    <div>
      {% trans %}2019-04-09:{% endtrans %}<br/>
      <a href="https://techiespad.com/mixx-dj-review/">
        <h6 class="docs-header">(EN) Techies Pad: Mixx Dj Software Review – Powerful software For All DJs</h6>
      </a>
      <p class="pressquote"> "Also, whenever you hit a paywall or limitation in other software, you can turn to Mixxx as it doesn’t limit you in any way." </p>
    </div>

    <div>
      {% trans %}2018-10-31:{% endtrans %}<br/>
      <a href="https://www.computerbild.de/download/Mixxx-64-Bit-6302273.html">
        <h6 class="docs-header">(DE) COMPUTER BILD: Mixxx</h6>
      </a>
      <p class="pressquote">"Redaktions-Tipp"</p>
    </div>

    <div>
      {% trans %}2018-09-25:{% endtrans %}<br/>
      <a href="https://www.wirerealm.com/guides/best-dj-software">
        <h6 class="docs-header">(EN) THE WIRE REALM: The Best DJ Software in the Market</h6>
      </a>
      <p class="pressquote">"This one is for you if you’re looking for the best free DJ software."</p>
    </div>

    <div>
      {% trans %}2018-09-19:{% endtrans %}<br/>
      <a href="https://djtechtools.com/2018/09/19/mixxx-2-2-beta-gui-scaling-lv2-fx-plugins-faster-development-cycles/">
        <h6 class="docs-header">(EN) DJ TECHTOOLS: Mixxx 2.2 Beta: GUI Scaling, LV2 FX Plugins, Faster Development Cycles</h6>
      </a>
      <p class="pressquote">"If you love the idea of the project, there are a bunch of ways to get involved as a developer, DJ (tester), translator, or even graphic artist."</p>
    </div>

    <div>
      {% trans %}2018-06-15:{% endtrans %}<br/>
      <a href="https://www.chip.de/downloads/Mixxx-64-Bit_40728952.html">
        <h6 class="docs-header">(DE) CHIP Online: Mixxx</h6>
      </a>
      <p class="pressquote">"Es macht Spaß mit dem Open-Source-Tool Mixxx zu experimentieren. Als Hobby-DJ kommen Sie mit dem Programm voll auf Ihre Kosten."</p>
    </div>

    <div>
      {% trans %}2018-05-22:{% endtrans %}<br/>
      <a href="https://www.comparakeet.com/best-dj-mixer-apps/mixxx-review/">
        <h6 class="docs-header">(EN) Comparakeet: Mixxx Review 2018</h6>
      </a>
      <p class="pressquote">"Of course, the best thing about this one is that it is free to use by anyone, so if you have little to no budget when hunting for a DJ mixing software, but have the passion for creating great music, then Mixxx is a very good choice."</p>
    </div>

    <div>
      {% trans %}2018-04-17:{% endtrans %}<br/>
      <a href="https://www.ghacks.net/2018/04/17/a-look-at-mixxx-in-gnu-linux/">
        <h6 class="docs-header">(EN) ghacks.net: A look at Mixxx in GNU/Linux</h6>
      </a>
      <p class="pressquote">"Mixxx is a great free alternative to popular programs like Traktor, or Virtual DJ, and is completely compatible with GNU/Linux systems, so if the need ever arises, it’s definitely worth checking out."</p>
    </div>

    <div>
      {% trans %}2018-01-17:{% endtrans %}<br/>
      <a href="https://www.bonedo.de/artikel/einzelansicht/mixxx-21-das-dj-software-open-source-projekt-legt-nach.html">
        <h6 class="docs-header">(DE) bonedo: Mixxx 2.1 - das DJ-Software Open Source Projekt legt nach</h6>
      </a>
      <p class="pressquote">"MIXXX ist eine vollständige DJ-Software, für die man keinen Cent berappen muss (aber ruhig etwas spenden sollte) ..."</p>
    </div>

    <div>
      {% trans %}2018-01-15:{% endtrans %}<br/>
      <a href="https://djworx.com/open-source-mixxx-gets-v2-1-beta-for-windows-macos-and-linux/">
        <h6 class="docs-header">(EN) DJWorx: Open source Mixxx gets v2.1 beta for Windows, macOS, and Linux</h6>
      </a>
      <p class="pressquote">"But in a world of large commercial outfits already extracting money from DJs, we need the little guys doing their own thing. I’m glad that they stuck to their guns, and steadily beaver away at making Mixxx better with every release."</p>
    </div>

    <div>
      {% trans %}2018-10-25:{% endtrans %}<br/>
      <a href="https://www.dj-lab.de/ueberblick-die-vier-besten-kostenlosen-dj-programme-2018/">
        <h6 class="docs-header">(DE) DJ LAB: Die vier besten kostenlosen DJ-Softwares 2019</h6>
      </a>
      <p class="pressquote">"Mixxx 2.1, Virtual DJ 8 Home Free, Mixvibes Cross Free und DigiJay"</p>
    </div>
  </div>
</div>
{% endblock %}
