{% extends "base.html" %}

{% block title %}{% trans %}Press{% endtrans %}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/pages/press.css">
{% endblock %}

{% block body %}
<div class="docs-section container">
  <h1>{% trans %}Press{% endtrans %}</h1>
  <p>
    {% with project_manager_mail_link="mailto:press@mixxx.org" %}{% trans %}If you want to report on Mixxx and like to get information or interviews, please contact us at <a href="{{ project_manager_mail_link }}">press@mixxx.org</a>. We won't bite, we promise.{% endtrans %}{% endwith %}
  </p>
</div>

<div id="logo" class="docs-section container">
  <h2><a class="headline-link" href="logo">{% trans %}Logo{% endtrans %}</a></h2>
  <img class="u-pull-right" src="{{ SITEURL }}/theme/images/mixxx-logo.svg" alt="Mixxx Logo">
  <p>The Mixxx Logo was designed by Paul Bloch back in 2007. It was originally introduced as part of the <a href="{{ SITEURL }}/news/2008-02-15-minor-website-revamp">website redesign for the Mixxx 1.6.0</a> release.</p>
  <div class="u-cf"></div>

  <div class="grid-container halves">
    <div>
      <a class="button button-secondary u-full-width" href="{{ SITEURL }}/theme/images/press_art/logocolour_nopadding.svg">SVG</a>
    </div>
    <div>
      <a class="button button-secondary u-full-width" href="{{ SITEURL }}/theme/images/press_art/logocolour_nopadding_large.tiff">TIFF (1115 x 278 px)</a>
    </div>
  </div>
  <div class="grid-container thirds">
    <div>
      <a class="button button-secondary u-full-width" href="{{ SITEURL }}/theme/images/press_art/logocolour_nopadding_small.png">PNG (240 x 60 px)</a>
    </div>
    <div>
      <a class="button button-secondary u-full-width" href="{{ SITEURL }}/theme/images/press_art/logocolour_nopadding_medium.png">PNG (480 x 119 px)</a>
    </div>
    <div>
      <a class="button button-secondary u-full-width" href="{{ SITEURL }}/theme/images/press_art/logocolour_nopadding_large.png">PNG (1115 x 278 px)</a>
    </div>
  </div>
</div>

<div id="pressmirror" class="docs-section container">
  <h2><a class="headline-link" href="#pressmirror">{% trans %}Press Mirror{% endtrans %}</a></h2>
  <div class="grid-container halves">

    <div>
     {% trans %}2026-10-10:{% endtrans %}<br/>
      <a href="https://www.lexicondj.com/blog/free-dj-software">
        <h6 class="docs-header">(EN) Lexicon DJ: The Best Free DJ Software in 2026 (and What You Actually Give Up)</h6>
      </a>
      <p class="pressquote">"Every other option here exists to move you toward a purchase. Mixxx does not ..."</p>
    </div>

    <div>
      {% trans %}2026-08-04:{% endtrans %}<br/>
      <a href="https://www.computerbild.de/download/Mixxx-6302273.html">
        <h6 class="docs-header">(DE) Computer Bild: Kostenloses DJ-Programm mit großem Funktionsumfang - Mixxx</h6>
      </a>
      <p class="pressquote">"Die Open-Source-Software steht dabei kommerziellen Produkten wie „Traktor Pro“ oder „VirtualDJ“ optisch und funktional in nichts nach."</p>
    </div>

    <div>
     {% trans %}2026-07-26:{% endtrans %}<br/>
      <a href="https://www.deejayplaza.com/en/articles/mixxx-review">
        <h6 class="docs-header">(EN) Deejay Plaza: Mixxx review 2026 – Surprisingly good, except 1 thing</h6>
      </a>
      <p class="pressquote">"I was pleasantly surprised by how complete and usable it is."</p>
    </div>

    <div>
     {% trans %}2026-06-22:{% endtrans %}<br/>
      <a href="https://djtechreviews.com/guides/buying-guides/best-dj-software">
        <h6 class="docs-header">(EN) DJTechReviews: Best DJ Software — Free and Paid Options Compared</h6>
      </a>
      <p class="pressquote">"Mixxx is the only completely free, open-source DJ software with no feature restrictions."</p>
    </div>

    <div>
     {% trans %}2026-05-21:{% endtrans %}<br/>
      <a href="https://www.webradioitaliane.it/post/web-radio-nel-2026-come-avviare-la-tua-stazione-e-raggiungere-migliaia-di-ascoltatori/">
        <h6 class="docs-header">(IT) Web Radio Italiane: Come Avviare una Web Radio nel 2026</h6>
      </a>
      <p class="pressquote">"Ideale se vuoi fare DJ set dal vivo nella tua web radio."</p>
    </div>

    <div>
     {% trans %}2026-05-30:{% endtrans %}<br/>
      <a href="https://www.dariopower.it/mixxx-2-6-beta-un-nuovo-capitolo-per-i-dj-open-source/">
        <h6 class="docs-header">(IT) Dariopoer: Mixxx 2.6 Beta - Un Nuovo Capitolo per i DJ Open Source</h6>
      </a>
      <p class="pressquote">"Mixxx 2.6 beta segna un passo significativo nell’evoluzione del software open source per DJ."</p>
    </div>

    <div>
     {% trans %}2026-05-06:{% endtrans %}<br/>
      <a href="https://monkaaudiolab.com/en/resources/software-dj-guide">
        <h6 class="docs-header">(EN) Monka Audio Lab: Software DJ Guide</h6>
      </a>
      <p class="pressquote">"The user community and its development efforts have made it possible to use the software on simple devices like the Raspberry Pi and integrate it into controllers, modified CDJs, etc."</p>
    </div>

    <div>
     {% trans %}2026-05-15:{% endtrans %}<br/>
      <a href="https://www.heavym.net/dj-software-the-best-tools-for-mixing/">
        <h6 class="docs-header">(EN) HeavyM: DJ Software - Explore the best tools for mixing</h6>
      </a>
      <p class="pressquote">"Open source DJ software, like Mixxx, offers even more flexibility, enabling experienced DJs to tailor the software to their specific needs and workflow."</p>
    </div>

    <div>
     {% trans %}2026-04-03:{% endtrans %}<br/>
      <a href="https://dj.studio/blog/best-rated-dj-software-for-smooth-transitions">
        <h6 class="docs-header">(EN) DJ.Studio: Best-Rated DJ Software for Seamless Transitions (2026 Evidence Synthesis from User Ratings)</h6>
      </a>
      <p class="pressquote">"... Mixxx is a very solid way to practice beatmatching, EQ swaps and longer blends on a laptop or a cheap controller."</p>
    </div>

    <div>
     {% trans %}2026-03-15:{% endtrans %}<br/>
      <a href="https://www.shoutcastnet.com/blogs/virtualdj-vs-mixxx.php">
        <h6 class="docs-header">(EN) Shoutcast Net: VirtualDJ vs. Mixxx - Which Free DJ Software is Best for Your Station?</h6>
      </a>
      <p class="pressquote">"Mixxx excels at predictable, low-latency, audio-first broadcasting with Auto DJ and a clean CPU footprint."</p>
    </div>

    <div>
     {% trans %}2025-12-07:{% endtrans %}<br/>
      <a href="https://magneticmag.com/2025/12/7-awesome-dj-software-tools-you-should-probably-know-about-in-2026">
        <h6 class="docs-header">(EN) Magnetic Magazine: 7 Awesome DJ Software Tools You Should Probably Know About in 2026</h6>
      </a>
      <p class="pressquote">"It’s packed with forward-thinking features and deep customization options that rival (and sometimes surpass) commercial software."</p>
    </div>

    <div>
      {% trans %}2025-06-16:{% endtrans %}<br/>
      <a href="https://www.digitaldjtips.com/reviews/mixxx-2-5-1-dj-software/">
        <h6 class="docs-header">(EN) Digital DJ Tips: Mixxx 2.5.1 DJ Software Review</h6>
      </a>
      <p class="pressquote">"But what you get in return is software that respects you as a DJ, doesn’t try to upsell you, and focuses on the fundamentals."</p>
    </div>

    <div>
     {% trans %}2025-06-06:{% endtrans %}<br/>
      <a href="https://openmusic.academy/docs/QJEAhhm8RGqmT2qe2C7STf/dj-bassics-beginner-tutorial">
        <h6 class="docs-header">(DE) openmusic.academy: DJ-Bas(s)ics | Beginner Tutorial</h6>
      </a>
      <p class="pressquote">"Mixxx ... eine gute Alternative, gerade für Einsteiger:innen oder alle, die unabhängig von großen Herstellern bleiben möchten."</p>
    </div>

    <div>
      {% trans %}2025-04-24:{% endtrans %}<br/>
      <a href="https://radioslibres.net/mixxx-reproductor-libre-con-streaming/">
        <h6 class="docs-header">(ES) RadiosLibres: Mixxx — reproductor libre con streaming</h6>
      </a>
      <p class="pressquote">"Uno de los alicientes de este programa es que se conecta automáticamente a tu canal de streaming para transmitir online."</p>
    </div>

    <div>
     {% trans %}2025-03-20:{% endtrans %}<br/>
      <a href="https://www.amazona.de/test-mixxx-kostenlose-dj-software/">
        <h6 class="docs-header">(DE) Amazona: Auflegen mit einer Open-Source DJ-Software</h6>
      </a>
      <p class="pressquote">"Gerade durch die vielfältigen Einstellungsmöglichkeiten kann die Software stark personalisiert werden und ja, hier kann auch das Design verändert werden."</p>
    </div>

    <div>
      {% trans %}2025-02-21:{% endtrans %}<br/>
      <a href="https://looprituals.de/ueberblick-die-vier-besten-kostenlosen-dj-programme-2018/">
        <h6 class="docs-header">(DE) Loop Rituals, DJ-Programme kostenlos: Die beste DJ-Software for free</h6>
      </a>
      <p class="pressquote">"Das DJ-Programm Mixxx nimmt in dieser Übersicht eine Sonderstellung ein, da es nur eine Version gibt und diese zudem kostenlos genutzt werden kann."</p>
    </div>

    <div>
      {% trans %}2024-11-27:{% endtrans %}<br/>
      <a href="https://cdm.link/mixxx-2-4-2/">
        <h6 class="docs-header">(EN) CDM: Tired of controller lock-in? Mixxx is a free DJ alternative</h6>
      </a>
      <p class="pressquote">"So if you’re needing to do some DJing for the holidays or record a mix, and you don’t want to mess around with complicated subscription fees, enjoy. It’s really great."</p>
    </div>

    <div>
      {% trans %}2023-03-12:{% endtrans %}<br/>
      <a href="https://note.com/aklo/n/n9d87303d6e38">
        <h6 class="docs-header">(JP) AKLO (note): PCDJ機材の記事（前編） — 無料DJソフトMixxxの感想</h6>
      </a>
      <p class="pressquote">"無料ながら有料ソフトに劣らない機能。ただしマッピングや英語表記で敷居あり"</p>
    </div>

    <div>
      {% trans %}2021-07-05:{% endtrans %}<br/>
      <a href="https://djtechtools.com/2021/07/12/mixxx-the-free-dj-software-gets-a-major-update-with-2-3-0-release/">
        <h6 class="docs-header">(EN) DJ TechTools: Mixxx — the free DJ software — gets a major update with 2.3.0</h6>
      </a>
      <p class="pressquote">"If you love the idea of a community-built software with complete transparency, this is the platform for you."</p>
    </div>

    <div>
      {% trans %}2020-07-24:{% endtrans %}<br/>
      <a href="https://note.com/daywalkerjp/n/n1d671e0553e4">
        <h6 class="docs-header">(JP) daywalkerjp (note): コラム — オープンソースソフトウェア Mixxx</h6>
      </a>
      <p class="pressquote">"ホームパーティでＤＪをと考えている方はお試しに是非ともMixxxを使ってみてはいかがでしょうか？"</p>
    </div>

    <div>
      {% trans %}2019-07-07:{% endtrans %}<br/>
      <a href="https://djworx.com/mixxx-2-3-beta-brings-colour-and-more/">
        <h6 class="docs-header">(EN) DJWORX: Mixxx 2.3 Beta Brings Colour And More</h6>
      </a>
      <p class="pressquote"> "it has features to compete with the big guns of the commercial DJ software sector" </p>
    </div>


  </div>
</div>
{% endblock %}
